<!DOCTYPE html>
<html>
  <head>
  	<title>Winesrate | Create Blog</title>

	  <!--  mete tags -->
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <meta name="keywords" content="THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE" />
	
	  <!-- script -->
	
	
	  <!-- css link -->
	  <link rel="stylesheet" type="text/css" href="../static/css/app.css" th:href="@{/css/app.css}" />	 
	  <!-- font -->
	  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
	
	  <!-- js link -->
	  <script type="text/javascript" src="../static/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
	  <!--<script type="text/javascript" src="../static/js/app.js" th:src="@{/js/app.js}"></script> -->
    <meta charset="utf-8" />

    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css" />

    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.4/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.4/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <style>
    	#createBlogForm input[type="text"], #createBlogForm label, #createBlogForm select {
		    margin: 10px;
		    display: block;
		    width: 50%;
		    height: 20px;
		}
		#createBlogForm input[type="submit"] {
		    margin: 10px;
		    display: block;
		    height: 20px;
		}
    </style>
  </head>

  <body>
  <!-- app header -->
  <div class="header">
    <div class="wrapper">
      <div class="logo">
        <a href="/"><img src="../static/images/logo.png" alt="" th:src="@{/images/logo.png}" /></a>
      </div>
      <div class="nav">
        <p><a href="/" data-hover="Home">Home</a></p>
        <p><a href="/blogs/" data-hover="Blog">Blog</a></p>
        <p><a href="/news/" data-hover="News">News</a></p>
      </div>
      <!-- <div class="action">
        <div class="trans-btn">
          something something
        </div>
      </div> -->
    </div>
  </div>
  <div class="main-content" style="min-height:500px; margin:50px;">
  	<h1>Create Blog post</h1>
  	<div id="notifications" style="display:none;background-color:white; border: 1px solid gray; min-height: 20px; min-width: 200px;margin:10px;"></div>  	
    <form id="uploadImageForm" class="" action="" method="post">
	  <p style="font-size:15px; font-weight:bold;">
	  		Upload Blog image
	  </p>
      <input type='file' id="imageInput" name="image" accept="image/*" />
      <input type="hidden" name="imageType" value="hero" />
      <input type="submit" name="submit" value="submit" />
    </form>
    <form id="createBlogForm" class="hidden" action="" method="post">
      <input id="blogTitle" type="text" name="blogTitle" value="" placeholder="Blog Title"  required="true" />
      <input id="blogDesc" type="text" name="blogDesc" value="" placeholder="Blog Desc." required="true" />
      <label for="categoryId">Select category:&nbsp;</label>
      <select name="categoryId" id="categoryId" required="true">
      	<th:block th:each="c, iter : ${categories}">      	
      		<option th:value="${c.categoryId}" th:text="${c.categoryName}"></option>      	
      	</th:block>
      </select> 
      <div id="blog-editor"></div>
      <input type="submit" name="createBlog" value="Create Blog" />
    </form>
    <div class="html">

    </div>
  </div>
    
	  <!-- app footer -->
  <div class="footer">
    <div class="logo-footer">
      <p>Wine-rates</p>
    </div>
    <div class="main">
      <div class="wrapper">
        <div class="border">
          <ul>
            <li>About</li>
            <li><a href="http://www.winesrate.com/winesrate.lml" class="footerlinks" onclick="ga('send', 'event', { eventCategory: 'Home Page', eventAction: 'About Wines Rate Clicked', eventLabel: 'About Wines Rate Link'});">About Wines Rate</a></li>
            <li><a href="http://www.winesrate.com/job.lml" class="footerlinks" onclick="ga('send', 'event', { eventCategory: 'Home Page', eventAction: 'Work at Wines Rate Clicked', eventLabel: 'Work at Wines Rate Link'});">Work at Wines Rate</a></li>
            <li><a href="http://www.winesrate.com/press.lml" class="footerlinks" onclick="ga('send', 'event', { eventCategory: 'Home Page', eventAction: 'Press Clicked', eventLabel: 'Press Link'});">For the Press</a></li>
            <li><a href="http://www.winesrate.com/contact-general.lml" class="footerlinks" onclick="ga('send', 'event', { eventCategory: 'Home Page', eventAction: 'Contact Us Clicked', eventLabel: 'Contact Us Link'});">Contact Us</a></li>
            <li><a href="http://www.winesrate.com/site-map.lml" class="footerlinks" onclick="ga('send', 'event', { eventCategory: 'Home Page', eventAction: 'Site Map Clicked', eventLabel: 'Site Map Link'});">Site Map</a></li>
          </ul>
        </div>
        <div class="border">
          <ul>
            <li>Support</li>
            <li><a href="http://www.winesrate.com/winesrate.lml" class="footerlinks" onclick="ga('send', 'event', { eventCategory: 'Home Page', eventAction: 'About Wines Rate Clicked', eventLabel: 'About Wines Rate Link'});">About Wines Rate</a></li>
            <li><a href="http://www.winesrate.com/job.lml" class="footerlinks" onclick="ga('send', 'event', { eventCategory: 'Home Page', eventAction: 'Work at Wines Rate Clicked', eventLabel: 'Work at Wines Rate Link'});">Work at Wines Rate</a></li>
            <li><a href="http://www.winesrate.com/press.lml" class="footerlinks" onclick="ga('send', 'event', { eventCategory: 'Home Page', eventAction: 'Press Clicked', eventLabel: 'Press Link'});">For the Press</a></li>
            <li><a href="http://www.winesrate.com/contact-general.lml" class="footerlinks" onclick="ga('send', 'event', { eventCategory: 'Home Page', eventAction: 'Contact Us Clicked', eventLabel: 'Contact Us Link'});">Contact Us</a></li>
            <li><a href="http://www.winesrate.com/site-map.lml" class="footerlinks" onclick="ga('send', 'event', { eventCategory: 'Home Page', eventAction: 'Site Map Clicked', eventLabel: 'Site Map Link'});">Site Map</a></li>
          </ul>
        </div>
        <div class="">
          <ul>
            <li>For the Trade</li>
            <li><a href="http://www.winesrate.com/winesrate.lml" class="footerlinks" onclick="ga('send', 'event', { eventCategory: 'Home Page', eventAction: 'About Wines Rate Clicked', eventLabel: 'About Wines Rate Link'});">About Wines Rate</a></li>
            <li><a href="http://www.winesrate.com/job.lml" class="footerlinks" onclick="ga('send', 'event', { eventCategory: 'Home Page', eventAction: 'Work at Wines Rate Clicked', eventLabel: 'Work at Wines Rate Link'});">Work at Wines Rate</a></li>
            <li><a href="http://www.winesrate.com/press.lml" class="footerlinks" onclick="ga('send', 'event', { eventCategory: 'Home Page', eventAction: 'Press Clicked', eventLabel: 'Press Link'});">For the Press</a></li>
            <li><a href="http://www.winesrate.com/contact-general.lml" class="footerlinks" onclick="ga('send', 'event', { eventCategory: 'Home Page', eventAction: 'Contact Us Clicked', eventLabel: 'Contact Us Link'});">Contact Us</a></li>
            <li><a href="http://www.winesrate.com/site-map.lml" class="footerlinks" onclick="ga('send', 'event', { eventCategory: 'Home Page', eventAction: 'Site Map Clicked', eventLabel: 'Site Map Link'});">Site Map</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sub">

    </div>
  </div>
    <!-- Include external JS libs. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.4/js/froala_editor.pkgd.min.js"></script>

    <!-- Initialize the editor. -->
    <script th:inline="javascript">
    var imgUrl;
    // image uplaod    
    $('#uploadImageForm').submit(function(e){
      e.preventDefault();
      $.ajax({
        url : '/image/create/',
        data: new FormData(this),
        cache: false,
          contentType: false,
          processData: false,
          mimeType: "multipart/form-data",
          type: 'POST'
      })
      .done(data => {
        data = JSON.parse(data)
        imgUrl = data.imageUrl;
        $('#createBlogForm').removeClass('hidden');
        $('#uploadImageForm').addClass('hidden');
        var notifications = document.getElementById('notifications');
		notifications.style.display = 'block';
		notifications.innerHTML = '<p style="padding:20px;">Image uploaded! Add blog post now! </p><p><img style="margin-left:20px; width: 150px; height:150px; background-image:contain;" src="' + imgUrl + '" /></p>';		
      })
      .error( err => {

      })
    });

    // blog create
    $(function() { $('#blog-editor').froalaEditor() });
    $("#createBlogForm").submit(function(e){
      e.preventDefault();      
      var html = $('#blog-editor').froalaEditor('html.get');
      var title = $('#blogTitle').val();
      var desc = $('#blogDesc').val();
      var form = new FormData();
      form.append("title", title);
      form.append("description", desc);
      form.append("content", html);
      form.append("blogPictureUrl", imgUrl);
      form.append("categoryId", $('#categoryId').val());
      
      if(html.length > 0){
        $.ajax({
          "url" : "/blogs/create/",
          "method" : 'POST',
          "data" : form,
          "async": true,
          "crossDomain": true,
          "processData": false,
          "contentType": false,
          "mimeType": "multipart/form-data"
        })
        .done( (data) => {
          var response = JSON.parse(data);
          var blogId = response['blogId'];     
          var appendParams = '?blogId=' + blogId;
          window.location.href += appendParams;
        })
        .error( (err) => {

        });
      }else {
        alert('Please add some body to create new Blog');
      }
    });
    $('document').ready(function(){
    	var url = new URL(window.location.href);
    	var blogId = url.searchParams.get('blogId');
    	if(blogId != null) {
    		var notifications = document.getElementById('notifications');
    		notifications.style.display = 'block';
    		notifications.innerHTML = 'New blog created! View your blog <a href="/blogs/' + blogId + '">here</a> or add a new blog"';
    	}
    });
    </script>
    <style media="screen">
      .hidden{
        display: none;
      }
    </style>
  </body>
</html>