<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Winesrate | THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' th:href="@{/css/bootstrap.css}" />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- Custom Theme files -->
		<link href="../static/css/style.css" rel='stylesheet' type='text/css' th:href="@{/css/style.css}" />
		
		<!-- Autocomplete style -->
		<link rel="stylesheet" href="../static/css/easy-autocomplete.min.css" type='text/css' th:href="@{/css/easy-autocomplete.min.css}" /> 
		
		<!-- Additional CSS Themes file - not required-->
		<link rel="stylesheet" href="../static/css/easy-autocomplete.themes.min.css" type='text/css' th:href="@{/css/easy-autocomplete.themes.min.css}" />
		<!-- Custom Theme files -->
		<!--webfont-->
		<link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
		<script src="../static/js/responsiveslides.min.js" th:src="@{/js/responsiveslides.min.js}"></script>
		<script type="text/javascript" src="../static/js/hover_pack.js" th:src="@{/js/hover_pack.js}"></script>
		<!-- JS file -->
		<script type="text/javascript" src="../static/js/jquery.easy-autocomplete.min.js" th:src="@{/js/jquery.easy-autocomplete.min.js}" ></script> 				 
				
	</head>
	<body>
		<div class="header">
			<div class="h_menu4"><!-- start h_menu4 -->
				<div class="container">
						<a class="toggleMenu" href="#">Menu</a>
						<ul class="nav">
							<li class="active"><a href="/" data-hover="Home">Home</a></li>					
							<li class="active"><a href="/" data-hover="Home">Price Alerts</a></li>
							<li class="active"><a href="/" data-hover="Home">Getting Listed</a></li>
							<li class="active"><a href="/" data-hover="Home">About us</a></li>
							<li class="active"><a href="/" data-hover="Home">Links</a></li>
							<li class="active"><a href="/" data-hover="Home">For Website Owners</a></li>
							<li class="active"><a href="/" data-hover="Home">For Retail Store Owner</a></li>
						 </ul>
						 <script type="text/javascript" src="../static/js/nav.js"  th:src="@{/js/nav.js}"></script>
			      </div><!-- end h_menu4 -->
		     </div>
		     <div class="header_top">
				<div class="container">
					<div class="logo">
						<a href="index.html"><img src="../static/images/logo.png" alt="" th:src="@{/images/logo.png}" /></a>
					</div>			
				    <div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="notifications" style="display:none;background-color:white; border: 1px solid gray; min-height: 20px; min-width: 200px;margin:10px;"></div>
					<form id="uploadImageForm" class="" style="min-height:500px;" action="" method="post">					  
					  <label for="file">Upload Store logo</label>
					  <div class="input-group">
				      	<input type='file' id="imageInput" name="image" accept="image/*" />				      	
				      </div>
				      <input type="hidden" name="imageType" value="hero" />
				      <div class="input-group">
				      	<input type="submit" name="submit" value="submit" />
				      </div>
				    </form>
					<form style="min-height:500px;" action="/admin/uploads/csv" method="POST" id="uploadForm" class="hidden">
						<label for="storeName">Store Name</label>
						<div class="input-group">				
							<input type="textbox" name="storeName" id="storeName" value="" />
						</div>
						
						<label for="storeURL">Store URL</label>
						<div class="input-group">			  	
							<input type="textbox" name="storeURL" id="storeURL" value="http://" />
						</div>
						
						<label for="file">CSV file</label>			
						<div class="input-group">
							<input type="file" name="file" />
						</div>								
									
						<div class="input-group">
							<input name="submit" id="submit" type="submit" />
						</div>	
						<input name="logoURL" id="imgUrl" type="hidden" />							
					</form>
				</div>
			</div>
		</div> 
		<div class="footer_bg">
		</div>
		<div class="footer_bottom">
	       	<div class="container">
	       		<div class="cssmenu">
					<ul>
						<li class="active"><a href="login.html">Privacy Policy</a></li> .
						<li><a href="checkout.html">Terms of Service</a></li> .
						<li><a href="checkout.html">Creative Rights Policy</a></li> .
						<li><a href="login.html">Contact Us</a></li> .
						<li><a href="register.html">Support and FAQ</a></li>
					</ul>
				</div>
				<div class="copy">
				    <p>&copy;  2017 WinesRate</p>
			    </div>
			    <div class="clearfix"> </div>
	       	</div>
		</div>	 
		<script type="text/javascript">
			var imgUrl;
			$('#uploadForm').submit(function(e){				
				e.preventDefault();				
				$("input[type=submit]").attr('disabled','disabled');
				$('#submit').parent().append('<img src="/images/loader.gif" />');
				$('#imgUrl').val(imgUrl);
				$.ajax({
					url : '/admin/uploads/csv', 
					data: new FormData(this), 
					cache: false,
				    contentType: false,
				    processData: false,
				    type: 'POST',
					success: function(data) {												
						$('#uploadForm').html('Data has been uploaded successfully. Refresh to upload again.');
					}
				});
			});
			$('#uploadImageForm').submit(function(e){
		      e.preventDefault();
		      $.ajax({
		        url : '/image/create/',
		        data: new FormData(this),
		        cache: false,
		          contentType: false,
		          processData: false,
		          mimeType: "multipart/form-data",
		          type: 'POST'
		      })
		      .done(data => {
		        data = JSON.parse(data)
		        imgUrl = data.imageUrl;
		        $('#uploadForm').removeClass('hidden');
		        $('#uploadImageForm').addClass('hidden');
		        var notifications = document.getElementById('notifications');
				notifications.style.display = 'block';
				notifications.innerHTML = '<p style="padding:20px;">Logo uploaded! Upload CSV now! </p>';		
		      })
		      .error( err => {

		      })
		    });
		</script>
		<style media="screen">
	      .hidden{
	        display: none;
	      }
	    </style>
	</body>
</html>