body {
  margin: 0;
  background-color: #efefef;
  font-family: 'Open Sans', sans-serif;
}

body .flex {
  display: flex;
}

img { 
	max-width: 100%; 
}

.header {
  background-color: #444;
  height: 72px;
}

.header .wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-width: 970px;
  max-width: 1200px;
  display: flex;
}

.header .wrapper div {
  display: flex;
  color: #fff;
}

.header .wrapper .logo {
  width: 25%;
  justify-content: flex-start;
}

.header .wrapper .logo a {
  margin: auto 0;
}

.header .wrapper .logo a img {
  margin: auto 0;
}

.header .wrapper .nav {
  width: 50%;
  justify-content: flex-start;
}

.header .wrapper .nav p {
  margin: auto 20px;
}

.header .wrapper .nav p a {
  text-decoration: none;
  color: #b9b9b9;
}

.header .wrapper .nav p a:hover {
  color: #fff;
}

.header .wrapper .action {
  width: 25%;
  justify-content: flex-end;
}

.header .wrapper .action .trans-btn {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 4px;
  margin: auto 0;
}

.hero {
  flex-direction: column;
  width: 100%;
  height: 340px;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  margin-bottom: 15px;
}

.hero .tagline {
  padding: 50px 0;
}

.hero div {
  display: flex;
}

.hero div p {
  font-size: 36px;
  margin: auto;
  color: rgb(255, 255, 255); 
}

.hero div form {
  margin: 0 50px !important;
  width: 100%;
  display: flex;
  margin: auto;
}

.hero div form input {
  font-size: 18px;
  padding-left: 30px;
  border: 0;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 1020px;
  height: 60px;
}

.home-submit {
  width: 120px !important;
  background-color: #2592eb;
  color: #fff;
  padding: 0 !important;
  border-top-left-radius: 0 !important;
  height: 72px !important;
  border-bottom-left-radius: 0 !important;
  cursor: pointer;
}

.section-container .section-1 {
  min-width: 970px;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.section-container .section-1 .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.section-container .section-1 .container .box {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(167, 167, 167, 0.5);
  width: 30%;
}

.section-container .section-1 .container .box .image {
  background-image: url("../images/section-bg.jpg");
  width: 100%;
  min-height: 145px;
}

.section-container .section-1 .container .box .text-1 {
  border-bottom: 1px solid #e5e5e5;
  min-height: 70px;
  position: relative;
}

.section-container .section-1 .container .box .text-1, .section-container .section-1 .container .box .text-2 {
  padding: 10px;
}

.section-container .section-1 .container .box .text-1 p, .section-container .section-1 .container .box .text-2 p {
  margin: 0;
}

.section-container .section-1 .container .card {
  box-shadow: 0 1px 3px 0 rgba(167, 167, 167, 0.5);
  background-color: #fff;
  display: flex;
  width: 30%;
  margin: 10px 0;
}

.section-container .section-1 .container .card .image {
  width: 40%;
  height: 120px;
  background-size: cover;
  background-image: url("../images/section-bg.jpg");
}

.section-container .section-1 .container .card .text-1 {
  position: relative;
  width: 60%;
}

.section-container .section-1 .container .card .text-1 .content .title {
  margin: 10px;
  color: #ff4040;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
}

.section-container .section-1 .container .card .text-1 .content .price {
  color: #7f4242;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}

.section-container .section-1 .container .card .text-1 .btn {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #b9b9b9;
  background-color: #444;
  cursor: pointer;
  padding: 15px;
}

.section-container .section-1 .container .card .text-1 .btn:hover {
  color: #fff;
}

.section-container .sec-wrapper {
  background-color: #fff;
}

.section-container .section-2 {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 970px;
  max-width: 1200px;
  margin: 0 auto;
}

.section-container .section-2 .box {
  width: 30%;
  margin: auto;
}

.section-container .section-3 {
  color: #fff;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-image: url("../images/gopro.jpg");
  display: flex;
  justify-content: center;
  margin-top: 235px;
}

.section-container .section-3 div {
  margin: auto;
}

.footer .logo-footer {
  background-color: #333;
  display: flex;
  height: 60px;
}

.footer .logo-footer p {
  color: #fff;
  margin: auto;
}

.footer .main {
  background-color: #444;
}

.footer .main .wrapper {
  display: flex;
  justify-content: space-between;
  width: 880px;
  margin: auto;
  padding: 70px 0;
}

.footer .main .wrapper .border {
  border-right: 1px solid #fefefe;
}

.footer .main .wrapper div {
  color: #fff;
  width: 33.33%;
  display: flex;
}

.footer .main .wrapper div ul {
  margin: auto;
  list-style: none;
  padding: 0;
}

.footer .main .wrapper div ul a {
  color: #fff;
  text-decoration: none;
}

.footer .sub {
  height: 96px;
  background-color: #333;
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
	@import url(https://fonts.googleapis.com/css?family=Open+Sans);
	.nav,.nav:before,.nav:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
    .header { 
    	width:100% !important; 
    }
    .wrapper { 
    	width:100% !important; 
    	border:none;
    	min-width: 100% !important; 
    }
    .nav p {
    	font-size: 15px !important;
    }
    .logo {
    	margin: 10px;
    }
    .hero {
    	background-image: url("../images/hero-bg-small.jpg");
    }
    .hero .tagline {
    	padding: 30px;
    	font-size: 20px;
    	text-align: center;
    }
    .hero div form input {
    	width: 100% !important;
    }
    .hero div form input[type=submit] {
    	width: 30% !important;
    }
    
    .nav {
    	display: none !important;
    }
    
    nav {
    	display: block !important;
    }
    .header .wrapper .logo {
    	margin-left: 29%;
    }
    .section-container .section-1 {
    	min-width: 100% !important;    	
    }
    .single-thumb {
    	float: none !important;
    	padding: 50px;
    }
    .section-container .section-3 div {
    	text-align: center;
    }
    .find-container {
    	max-width: 100% !important;
    	min-width: 90% !important;    	
    }
    .find-container .search-container .search form input[name="wineName"] {
    	width: 48% !important; 
    }
    .find-container .search-container .search form p {
	    margin: 15px 0 !important;
	    font-size: 15px !important;
	    margin-left: 20px !important;
	}
	.find-container .search-container .search form .select{
		margin: 0 !important;
	    margin-top: 10px !important;
	    margin-left: 30px !important;
	}
    .find-container .search-container .search {
    	background-image: url("../images/search-box-bg-small.jpg") !important;
    }
    .filter-box {
    	display: none;
    }
    #tab1:checked ~ #content1, 
    #tab2:checked ~ #content2, 
    #tab3:checked ~ #content3, 
    #tab4:checked ~ #content4 {
    	padding: 10px;
    }
    .responsive-rating {
    	display: block !important;
    }
    td.rating {
    	display: none;
    }
    .rating > label:before {
    	font-size: 1em !important;
    }
    .responsive-rating fieldset {
    	padding-left: 0;
    	padding-top: 0;
    }
    .col-md-3 {
    	width: 200px;
    }
    td.col-md-1 {
    	padding-left: 0 !important;
    }
    td.col-md-2{
    	padding: 4px !important;
    }
    #nav-tab li {
    	padding: 7px !important;
    }
    table#stores {
    	font-size: 12px !important;
    }
    
}

/* .responsive-rating {
	display: none;
} */

nav {
	display: none;
}

#menuToggle {
    display: block;
    position: relative;
    top: 22px;
    left: 10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 357px;
    margin: -100px 0 0 -10px;
    height: 288px;
    padding: 50px;
    padding-top: 125px;
    background: #efefef;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

.find-container {
  max-width: 1200px;
  min-width: 970px;
  margin: 20px auto;
  padding: 0 20px;
}

.find-container .search-container {
  /*width: 720px;*/
  width: 100%;
}

.find-container .search-container .search {
  color: #fff;
  width: 100%;
  min-height: 120px;
  background-image: url("../images/search-box-bg.jpg");
  background-size: cover;
  border-radius: 5px;
  padding: 20px 0;
}

.find-container .search-container .search form {
  margin: 0 15px;
}

.find-container .search-container .search form p {
  margin: 15px 0;
  font-size: 18px;
}

.find-container .search-container .search form input[type="text"] {
  height: 30px;
  border: 1px solid #000;
  border-radius: 5px;
}

.find-container .search-container .search form input[name="wineName"] {
  padding: 0 20px;
  font-size: 16px;
  width: 450px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.find-container .search-container .search form select[name="vintage"]  {
  padding: 0 0 0 20px;
  font-size: 16px;
  width: 90px;
  border-left: 0px;
  border-radius: 0px;
  border-right: 0px;
  background-color: #fff;
}

.find-container .search-container .search form button[name="submit"] {
  width: 75px;
  color: #fff;
  border: 0px;
  background-color: #0076d6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.find-container .search-container .search form .select {
  margin: 10px 40px;
}

.find-container .search-container .search form .select select {
  width: 200px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
}

.find-container .search-container .displayname {
  border-radius: 5px;
  margin: 15px 0;
  width: 100%;
  padding: 15px 0;
  background-color: #74854d;
}

.find-container .search-container .displayname p {
  margin: 0 15px;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
}

.find-container .add-container {
  width: 40%;
}

.find-container .filter-box {
  height: 860px;
  width: 200px;
  background-color: #efefef;
}

.filter-box-store {
	width: 250px !important;
	margin-left: 10px !important;
}

.store-block {
	height: 900px !important;
}

.result-info-box {
	padding-left: 10px;
}
.find-container .result-info-box {
  width: 60%;
}
.find-container .result-info-box table{
  border: 1px solid #efefef;
  width:  100%;
  margin: 10px 0;
  margin-top: 0;
}
.find-container .result-info-box table a{
  color: #3247b1;
  text-decoration: none;
}
.find-container .result-info-box table th {
  background-color: #efefef;
}
.find-container .result-info-box table td, .find-container .result-info-box table th{
  padding: 10px;
  text-align: left;
}
table {
	border-collapse: collapse;
}
tbody {
	border: 1px solid rgba(166, 166, 166, 0.28);
}
tbody:nth-child(even) {
    background-color: #fbfbfb;
}
tbody:nth-child(odd) {
    background-color: #f1f1f1;
}
td:hover {
    box-shadow: rgba(85,85,85,0.4) 0 1px 2px 1px;
}
#nav-tab{
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: flex-end;
}
#nav-tab li{
  padding: 15px;
  margin-right: 5px;
  border: 1px solid #efefef;
}
#nav-tab li a{
  text-decoration: none;
  color: #000;
}
#nav-tab li.active{
  background-color: #efefef;
}
/*# sourceMappingURL=app.css.map */
.card.recommended-wines {
	cursor: pointer;
}
.blog-img {
	background-image: url('../images/section-bg.jpg');
	min-height: 100px;
	min-width: 150px;
	background-size: cover;
}
.hidden {
	display: none;
}
.filter-title {
	margin: 10px;
	margin-left: 15px;
    font-weight: bold;
    font-size: 15px;
}
.filter-image img {
	height: 250px;
	width: 170px;
	box-shadow: rgba(85,85,85,0.4) 0 2px 6px 2px;
}
.filter-content {
	margin: 10px;
	margin-left: 15px;
	font-size: 15px;	
}
.filter-scroll {
	height: 80px;
	overflow-y: scroll;
}
.filter-icon {
	display: inline-block;
	vertical-align: middle;
}
.result-title a {
	font-weight: bold;
}
.result-store a {
	color: blue !important;
	text-decoration: underline !important;
}
.png-icon {
	width: 14px;
	height: 14px;
}
.container-2 {
	margin-top: 110px;
}
.thumb-title {
	margin: 0 auto;
    font-size: 25px;
    padding: 15px;
    color: #575757;
    padding-top: 0;	
}
.thumb-container a {
	text-decoration: none;
}
.wine-thumbs {
	margin: 0 auto;'
}
.thumb-image {
	width: 300px;
	height: 200px;
}
.single-thumb {
	float: left;
	margin: 5px;
}
.thumb-text {
	margin-top: -130px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.hover-container {
  position: relative;
  width: 100%;
}
.overlay {
	position: absolute;
    bottom: -91px;
    left: 0;
    right: 0;
    background-color: #636363;
    overflow: hidden;
    opacity: 0.9;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.hover-container:hover .overlay {
  height: 183%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 30px;
    position: absolute;
    overflow: hidden;
    border: 2px solid white;
    padding: 10px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.store-logo {
	height: 40px;
	width: 70px;
}
.about-content {
	margin: 0 auto;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom.: 50px;
	max-width: 1000px;
	font-size: 20px;
}

.result-title {
	font-weight: bold;
	font-size: 15px;
}

.result-detail {
	font-size: 15px;
}

.price-col {
	font-size: 20px;
}

.store-h3 {
	margin-top: 0px;
    margin-bottom: 10px;
}
.store-title {
	color: #3247b1;
}
.single-store {
	background: white;
    padding: 5px;
    border: 1px solid #d0d0d0;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/* Tab settings */

section {
  /* display: none; */
  padding: 20px;
  background-color: #efefef;
  border: 1px solid #ddd;
  min-height: 900px;
}

#replaceableContent, #stores {
	background-color: white;
}

input.tab-input {
  display: none;
}

label.tab {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label.tab:before {
  margin-right: 10px;
}

label.tab:hover {
  color: #888;
  cursor: pointer;
}

input.tab-input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

/*
@media screen and (max-width: 650px) {
  label.tab {
    font-size: 0;
  }
  label.tab:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label.tab {
    padding: 15px;
  }
} */


/* Local store form */
.form-flex {
	display: block;
	min-height: 500px;
	margin: 0 auto;
}
.form-blog {
	width: 500px;
	padding: 50px;
	margin: 0 auto;
}
form h1 {
	margin: 10px;
}
.form-group {
	padding: 10px;
}
.form-group label {
	display:block; 
}
.form-group input {
	width: 500px;
}
.form-submit {
	margin: 10px;
    background: #c50902;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 80px;
    font-size: 19px;
    border-radius: 8px;
}