<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Winesrate | THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' th:href="@{/css/bootstrap.css}" />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- Custom Theme files -->
		<link href="../static/css/style.css" rel='stylesheet' type='text/css' th:href="@{/css/style.css}" />
		
		<!-- Autocomplete style -->
		<link rel="stylesheet" href="../static/css/easy-autocomplete.min.css" type='text/css' th:href="@{/css/easy-autocomplete.min.css}" /> 
		
		<!-- Additional CSS Themes file - not required-->
		<link rel="stylesheet" href="../static/css/easy-autocomplete.themes.min.css" type='text/css' th:href="@{/css/easy-autocomplete.themes.min.css}" />
		<!-- Custom Theme files -->
		<!--webfont-->
		<link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
		<script src="../static/js/responsiveslides.min.js" th:src="@{/js/responsiveslides.min.js}"></script>
		<script type="text/javascript" src="../static/js/hover_pack.js" th:src="@{/js/hover_pack.js}"></script>
		<!-- JS file -->
		<script type="text/javascript" src="../static/js/jquery.easy-autocomplete.min.js" th:src="@{/js/jquery.easy-autocomplete.min.js}" ></script> 				 
				
	</head>
	<body>
		<div class="header">
			<div class="h_menu4"><!-- start h_menu4 -->
				<div class="container">
						<a class="toggleMenu" href="#">Menu</a>
						<ul class="nav">
							<ul class="nav">
							<li class="active"><a href="/" data-hover="Home">Home</a></li>
							<li class="active"><a href="/wine/guide" data-hover="Wine Guide">Wine Guide</a></li>												
							<li class="active"><a href="/about" data-hover="About Us">About us</a></li>		
							<p><a href="/wine/local-store" data-hover="Add Store">Add Store</a></p>					
						 </ul>
						 </ul>
						 <script type="text/javascript" src="../static/js/nav.js"  th:src="@{/js/nav.js}"></script>
			      </div><!-- end h_menu4 -->
		     </div>
		     <div class="header_top">
				<div class="container">
					<div class="logo">
						<a href="/"><img src="../static/images/logo.png" alt="" th:src="@{/images/logo.png}" /></a>
					</div>			
				    <div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="column_center">
		</div>
		<div class="main">
			<div class="content_top">
		  		<div class="container">
		  		   <div class="row">
				  	   <div class="col-md-12">
				  	       <h1>About Us</h1>
				  	       <p>
				  	           We combine up-to-date market information, factual wine information and expert reviews in one big database and let you play with it! You can use the following tools to look for wine:
				  	       </p>
				  	   </div>
				   </div>
				   <br/>
				   <div class="row">
				       <div class="col-md-4">
				           <p class="about-block">
				               <b>Wine search</b><br/>
Provides you an overview of who is offering the wine in market as well as background information with links to Parker, Wine Spectator, Gary V and Cellar tracker. 
Try it!
				           </p>
				       </div>
				       <div class="col-md-4">
				       <p class="about-block">
				           <b>Explore Wines</b><br/>
				           Allows you to discover wines by region, wine type, grape, vintage, price range, expert ratings and country of seller.
For example: find the best options for Napa Valley Chardonnay with an expert rating above 90 points. 
				       </p>
				       </div>
				       <div class="col-md-4">
				       <p class="about-block"> 
				           
<b>What's hot</b><br/>
The home page provides you a number of top ten most popular searches, so you can see which wines suddenly get a lot of attention. Also shows major price drops in the market. 
				       </p>
				       </div>
				   </div>
		       	</div>
			</div>  	    
		</div>
		<div class="footer_bg">
		</div>
		<div class="footer_bottom">
	       	<div class="container">
	       		<div class="cssmenu">
					<ul>
						<li class="active"><a href="login.html">Privacy Policy</a></li> .
						<li><a href="checkout.html">Terms of Service</a></li> .
						<li><a href="checkout.html">Creative Rights Policy</a></li> .
						<li><a href="login.html">Contact Us</a></li> .
						<li><a href="register.html">Support and FAQ</a></li>
					</ul>
				</div>
				<div class="copy">
				    <p>&copy;  2017 WinesRate</p>
			    </div>
			    <div class="clearfix"> </div>
	       	</div>
		</div>
		<script type="text/javascript">
			var response;
			var options = {
					url: function(phrase) {						
						return "/wines/search/suggest/" + phrase;
					},	
					getValue: "title"
				};

			$("#query").easyAutocomplete(options);
			$(document).ready(function() {
				$('.recommended-wines').click(function() {
					title = $($(this).find('.title')[0]).attr('title');
					$('#query').val(title);
					$('#search').submit();					
				});
			});
		</script>
	</body>
</html>		