<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Winesrate | THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE</title>

	<!--  mete tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE" />

	<!-- script -->


	<!-- css link -->
	<link rel="stylesheet" type="text/css" href="../static/css/app.css" th:href="@{/css/app.css}" />

	<!-- Autocomplete style -->
	<link rel="stylesheet" href="../static/css/easy-autocomplete.min.css" type='text/css' th:href="@{/css/easy-autocomplete.min.css}" />

	<!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

	<!-- js link -->
	<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>

	<script type="text/javascript" src="../static/js/app.js" th:src="@{/js/app.js}"></script>

	<!--<script type="text/javascript" src="../static/js/app.js" th:src="@{/js/app.js}"></script> -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="../static/js/jquery.easy-autocomplete.min.js" th:src="@{/js/jquery.easy-autocomplete.min.js}"></script>


</head>
<body style="background-color:#fff;">
	<!-- app header -->
	<div class="header">
		<div class="wrapper">
			<div class="logo">
				<a href="/"><img src="../static/images/logo.png" alt="" th:src="@{/images/logo.png}" /></a>
			</div>
			<div class="nav">
				<p><a href="/" data-hover="Home">Home</a></p>
				<p><a href="/blogs/" data-hover="Blog">Blog</a></p>
        		<p><a href="/news/" data-hover="News">News</a></p>
        		<p><a href="/wine/local-store" data-hover="Add Store">Add Store</a></p>
			</div>		
		</div>
	</div>
	<div class="about-content">
		<h1>About Us</h1>
		<p>Welcome to WinesRate, your one stop destination to know everything about Wines.</p>
		<p>With the help of technology, we bring the best assortation of Wines available online.</p>
		<p>We understand the pain of browsing several Wine shops, looking for the right choice, and then manually comparing the price again and again.</p>
		<p>With WinesRate, you can find the Wine you're looking for, or browse through thousands of options from several shops, compare them and choose the right fit.
		We offer detailed Wine descriptions, price comparisons and user ratings to ensure that you find the best Wine collection around the market. Our wine search algorithm sorts the best result according to search term, ratings, best price and popularity.
		Our motto is to guide you throughout the Wine buying process and inform everything about Wines and  Winery one can know about.</p>
		
	</div>
		<!-- app footer -->
	 <div class="footer">
	    <div class="logo-footer">
	      <p>Wine-rates</p>
	    </div>
	    <div class="main">
	      <div class="wrapper">
	        <div class="border">
	          <ul>
	            <li><a href="/about-us" class="footerlinks">About</a></li>            
	          </ul>
	        </div>
	        <div class="border">
	          <ul>
	            <li><a href="/blogs" class="footerlinks">Blog</a></li>            
	          </ul>
	        </div>
	        <div class="border">
	          <ul>
	            <li><a href="/news" class="footerlinks">News</a></li>            
	          </ul>
	        </div>
	      </div>
	      <div class="border">
	          <ul>
	            <li><a href="/wine/localstore" class="footerlinks">Add Store</a></li>            
	          </ul>
	      </div>
	    </div>
	    <div class="sub">
	
	    </div>
	  </div>
 </body>
 </html>