<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Winesrate | THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE</title>

  <!--  mete tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE" />

  <!-- script -->


  <!-- css link -->
  <link rel="stylesheet" type="text/css" href="../static/css/app.css" th:href="@{/css/app.css}" />
  <!-- Autocomplete style -->
  <link rel="stylesheet" href="../static/css/easy-autocomplete.min.css" type='text/css' th:href="@{/css/easy-autocomplete.min.css}" />
  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

  <!-- js link -->
  <script type="text/javascript" src="../static/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
  <!--<script type="text/javascript" src="../static/js/app.js" th:src="@{/js/app.js}"></script> -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->                              
  <script type="text/javascript" src="../static/js/jquery.easy-autocomplete.min.js" th:src="@{/js/jquery.easy-autocomplete.min.js}" ></script>
  <style type="text/css">
  	.news-box{
  border: 1px solid #666;
  height: 1000px;
  width: 250px;
}
.blogs-box{
  width: 940px;
  min-height: 400px;
  margin-left: 10px;
  margin: 0 auto;
}
.recent-stories{
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 10px 10px;
}
.about-blog {
  padding: 10px;
  border-bottom: 1px dashed #666;
 }
  .about-blog .blog-img {
    width: 150px;
    height: 100px;
    background-size: cover; 
    }
    .blog-text{
      margin-left: 15px;
    }
    .blog-text a{
      font-size: 21px;
      color: #000;
      font-weight: bold;
      text-decoration: none;
      margin-bottom: 10px;
    }
    .blog-text a:hover{
      color: #154bca;
    }
    .blog-text p{
      margin: 10px 0;
    }
    .blog-text .blog-by{
      color: #666;
      font-size: 14px;
    }
    .news-box{
	  border: 1px solid #efefef;
	  width: 180px;
    margin-left: 20px;
    height: 100%;
	}
  .news-box .capsule{
    cursor: pointer;
  }
  .news-box .capsule p{
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #efefef;
  }
  .news-box .capsule:last-child{
    border-bottom: 0px;
  }
  </style>
</head>

<body style="background-color:#fff;">
   <!-- app header -->
  <div class="header">
    <div class="wrapper">
      <div class="logo">
        <a href="/"><img src="../static/images/logo.png" alt="" th:src="@{/images/logo.png}" /></a>
      </div>
      <div class="nav">
        <p><a href="/" data-hover="Home">Home</a></p>
        <p><a href="/blogs/" data-hover="Blog">Blog</a></p>
        <p><a href="/news/" data-hover="News">News</a></p>
        <p><a href="/wine/local-store" data-hover="Add Store">Add Store</a></p>
      </div>
      <!-- <div class="action">
        <div class="trans-btn">
          something something
        </div>
      </div> -->
    </div>
  </div>
  <!-- find-container -->
  <div class="find-container">
    <div class="flex">
      <div class="news-box">
      	<th:block th:each="c, iter : ${categories}">      	
	        <div class="capsule">
	         	<a th:href="${'/blogs/category/' + c.categoryId}" style="text-decoration:none; color:#656565">
	          		<p th:text="${c.categoryName}" th:attr="categoryId=${c.categoryId}"></p>
	         	</a>
	        </div>        
	   </th:block>
      </div>

      <div class="blogs-box">
        <p class="recent-stories">Recent Stories</p>
        <th:block th:each="b, iter : ${blog}">
	        <div class="about-blog flex">
	          <div class="blog-img" th:style="'background:url(' + ${b.blogPictureUrl} + ');background-size:cover;'"></div>
	          <div class="blog-text">
	            <a th:href='${"/blogs/" + b.blogId}' th:text="${b.title}">
	              Blog Title
	            </a>
	            <p class="content" th:utext="${b.description}"></p>
	            <p class="blog-by" th:text="'By ' + ${b.author} + ' | Posted ' + ${b.createdAt}"></p>
	          </div>
	        </div>
	     </th:block>
      </div>
    </div>
  </div>
   <!-- app footer -->
  <!-- app footer -->
	  <div class="footer">
	    <div class="logo-footer">
	      <p>Wine-rates</p>
	    </div>
	    <div class="main">
	      <div class="wrapper">
	        <div class="border">
	          <ul>
	            <li><a href="/about-us" class="footerlinks">About</a></li>            
	          </ul>
	        </div>
	        <div class="border">
	          <ul>
	            <li><a href="/blogs" class="footerlinks">Blog</a></li>            
	          </ul>
	        </div>
	        <div class="border">
	          <ul>
	            <li><a href="/news" class="footerlinks">News</a></li>            
	          </ul>
	        </div>
		      <div class="border">
		          <ul>
		            <li><a href="/wine/localstore" class="footerlinks">Add Store</a></li>            
		          </ul>
		      </div>
	      </div>
	    </div>
	    <div class="sub">
	
	    </div>
	  </div>
</body>

</html>