<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Winesrate | THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' th:href="@{/css/bootstrap.css}" />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- Custom Theme files -->
		<link href="../static/css/style.css" rel='stylesheet' type='text/css' th:href="@{/css/style.css}" />
		
		<!-- Autocomplete style -->
		<link rel="stylesheet" href="../static/css/easy-autocomplete.min.css" type='text/css' th:href="@{/css/easy-autocomplete.min.css}" /> 
		
		<!-- Additional CSS Themes file - not required-->
		<link rel="stylesheet" href="../static/css/easy-autocomplete.themes.min.css" type='text/css' th:href="@{/css/easy-autocomplete.themes.min.css}" />
		<link rel="stylesheet" href="../static/css/bootstrap-slider.css" type="text/css" th:href="@{/css/bootstrap-slider.min.css}" />
		<!-- Custom Theme files -->
		<!--webfont-->
		<link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
		<script src="../static/js/responsiveslides.min.js" th:src="@{/js/responsiveslides.min.js}"></script>
		<script type="text/javascript" src="../static/js/hover_pack.js" th:src="@{/js/hover_pack.js}"></script>
		<!-- JS file -->
		<script type="text/javascript" src="../static/js/jquery.easy-autocomplete.min.js" th:src="@{/js/jquery.easy-autocomplete.min.js}" ></script>
		<script type="text/javascript" src="../static/js/bootstrap-slider.min.js" th:src="@{/js/bootstrap-slider.min.js}"></script> 				 				
	</head>
	<body>
		<div class="header">
			<div class="h_menu4"><!-- start h_menu4 -->
				<div class="container">
						<a class="toggleMenu" href="#">Menu</a>
						<ul class="nav">
							<ul class="nav">
								<li class="active"><a href="/" data-hover="Home">Home</a></li>				
								<li class="active"><a href="/wine/guide" data-hover="Wine Guide">Wine Guide</a></li>								
								<li class="active"><a href="/about" data-hover="About Us">About us</a></li>										
							</ul>					
						 </ul>
						 <script type="text/javascript" src="../static/js/nav.js"  th:src="@{/js/nav.js}"></script>
			      </div><!-- end h_menu4 -->
		     </div>
		     <div class="header_top">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<div class="logo">
								<a href="/"><img src="../static/images/logo.png" alt="" th:src="@{/images/logo.png}" /></a>
							</div>			
						    <div class="clearfix"> </div>
						</div>
						<div class="col-md-4">
					  		<form action="/wine/" method="post" id="search" style="padding-top: 4.5%; width: 100%;" class="pull-right">
								<input name="query" id="query" type="text" th:value="${query}" style="width: 89%;" onblur="if (this.value == '') {this.value = '';}" />
					  			<input type="submit" id="small-search" value="" />
						  	</form>
					  	</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="content_top">				
				<div class="container">
					<div class="row">
					  	<div class="col-md-12">
					  		<h1>Wine Guide</h1>
					  	</div>					  	
					</div>
					<div class="row">
						<div class="col-md-3">
							<table class="table table-striped table-bordered wine-table" >
								<thead>
							      <tr>
							        <th class="col-md-12">Filters</th>							        	
							      </tr>
							    </thead>
							    <tbody>
							    	<tr>
							    		<td>
							        		<div class="filter-block">
							        			<div class="margin-block">
								        			 <b>
								        			 	Vintage
								        			 </b>
								        		</div>
								        		<div class="margin-block">
							        			 	<b class="filter-left">1980</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="1980" data-slider-max="2017" data-slider-step="1" data-slider-value="[1980,2017]"/> <b class="filter-right">2017</b>
							        			</div>
							        		</div>
							        	</td>
							    	</tr>
							    </tbody>
							    <tbody>
							    	<tr>
							    		<td>
							        		<div class="filter-block">
							        			<div class="margin-block">
							        				<b>
							        			 		Price
							        			 	</b>
							        			 </div>
							        			 <div class="margin-block">
							        			 	<b class="filter-left">0</b> <input id="ex3" type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="1" data-slider-value="[0,1000]"/> <b class="filter-right">1000</b>
							        			 </div>
							        		</div>
							        	</td>
							    	</tr>
							    </tbody>							     
							</table>
						</div>
						<div class="col-md-9">					
						  <div class="tab-content clearfix">
							  <div class="tab-pane active" id="worldwide">
				          	  	<table class="table table-striped table-bordered wine-table" >
								    <thead>
								      <tr>
								        <th class="col-md-3">Title</th>
								        <th class="col-md-3">Store Name</th>
								        <th class="col-md-2 sortWine" th:attr="sortBy=${'vintage'},sortOrder=${sortOrder},continent=${continent},query=${query},vintage=${reqVintage},pageNumber=${currentPage}">
								        	<a href="#">
									        	<th:block th:if="${sortBy == 'vintage' and sortOrder == 'asc'}">
									        		<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									        	</th:block>
									        	<th:block th:if="${sortBy == 'vintage' and sortOrder == 'desc'}">
									        		<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									        	</th:block>
								        		Vintage
								        	</a>							        	
								        </th>
								        <th class="col-md-2 sortWine" th:attr="sortBy=${'bottleSize'},sortOrder=${sortOrder},continent=${continent},query=${query},vintage=${reqVintage},pageNumber=${currentPage}">
								        	<a href="#">
									        	<th:block th:if="${sortBy == 'bottleSize' and sortOrder == 'asc'}">
									        		<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									        	</th:block>
									        	<th:block th:if="${sortBy == 'bottleSize' and sortOrder == 'desc'}">
									        		<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									        	</th:block>
									        	Bottle Size
									        </a>							        	
								        </th>
								        <th class="col-md-2 sortWine" th:attr="sortBy=${'price'},sortOrder=${sortOrder},continent=${continent},query=${query},vintage=${reqVintage},pageNumber=${currentPage}">
								        	<a href="#">
								        		<th:block th:if="${sortBy == 'price' and sortOrder == 'asc'}">
									        		<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
									        	</th:block>
									        	<th:block th:if="${sortBy == 'price' and sortOrder == 'desc'}">
									        		<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									        	</th:block>
									        	Price
									        </a>        	
								        </th>
								        <th class="col-md-1">Link</th>
								      </tr>
								    </thead>
								    <tbody th:each="wine : ${wines}">
								      <tr>
								        <td><a href="#" th:href="${wine.URL}" th:text="${wine.title}" class="clickWine" target="_blank"></a></td>
								        <td><a href="#" th:href="${wine.store.storeURL}" th:text="${wine.store.name}" target="_blank"></a></td>
								        <td th:text="${wine.vintage}"></td>
								        <td th:text="${wine.bottleSize}"></td>
								        <td th:text="${wine.price}"></td>
								        <td><a href="#" th:href="${wine.URL}" th:text="Link" class="clickWine" target="_blank"></a></td>
								      </tr>				      
								    </tbody>
								  </table>
								  <ul class="nav nav-tabs pull-right" id="nav-tab">
								  	<li th:if="${currentPage >= 10}">
								  		<a class="pageLink" href="#" th:attr="sortBy=${sortBy},sortOrder=${sortOrder},pagenumber=${firstPageNav-10},query=${query},vintage=${reqVintage}">Previous</a>
								  	</li>
								  	<th:block th:each="i : ${#numbers.sequence( firstPageNav, lastPageNav)}">							  					  						  	  
										<li th:attr="class=${(i - 1) == currentPage } ? 'active' : ''">
											<a href="#" th:attr="sortBy=${sortBy},sortOrder=${sortOrder},pagenumber=${i},query=${query},vintage=${reqVintage}" class="pageLink" th:text="${i}"></a>
										</li>									
									</th:block>					  					  
									<li th:if="${currentPage / 10 != totalPages / 10  }">
										<a class="pageLink" href="#" th:attr="sortBy=${sortBy},sortOrder=${sortOrder},pagenumber=${lastPageNav+1},query=${query},vintage=${reqVintage}">Next</a>
									</li>
								  </ul>
							  </div>
						  </div>
						</div>			  					      				 
				</div>
				</div>
			</div>  	    
		</div>
		<div class="footer_bg">
		</div>
		<div class="footer_bottom">
	       	<div class="container">
	       		<div class="cssmenu">
					<ul>
						<li class="active"><a href="login.html">Privacy Policy</a></li> .
						<li><a href="checkout.html">Terms of Service</a></li> .
						<li><a href="checkout.html">Creative Rights Policy</a></li> .
						<li><a href="login.html">Contact Us</a></li> .
						<li><a href="register.html">Support and FAQ</a></li>
					</ul>
				</div>
				<div class="copy">
				    <p>&copy;  2017 WinesRate</p>
			    </div>
			    <div class="clearfix"> </div>
	       	</div>
		</div>	
		<form id="wineForm" method="post" action="/wine/">
			<input type="hidden" name="query" id="query" th:value="${query}" />
			<input type="hidden" name="continent" id="continent" />
			<input type="hidden" name="vintage" id="vintage" />
			<input type="hidden" name="pageNumber" id="pageNumber" />
			<input type="hidden" name="sortBy" id="sortBy" />
			<input type="hidden" name="sortOrder" id="sortOrder" />		
			<input type="submit" class="hidden" />			
		</form>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.wineSearch').click(function() {
					query = $(this).attr('query');
					continent = $(this).attr('continent');
					vintage = $(this).attr('vintage');
					if(continent == 'Worldwide')
						continent = '';
					$('#continent').val(continent);
					$('#vintage').val(vintage);
					$('#wineForm').submit();
				});
				$('.wineVintage').click(function() {
					query = $(this).attr('query');
					vintage = $(this).attr('vintage');
					if(vintage == 'All')
						vintage = '';
					$('#vintage').val(vintage);
					$('#wineForm').submit();
				});
				$('.pageLink').click(function() {
					query = $(this).attr('query');
					vintage = $(this).attr('vintage');
					pageNumber = $(this).attr('pagenumber')-1;
					if(vintage == 'All')
						vintage = '';
					$('#vintage').val(vintage);
					$('#pageNumber').val(pageNumber);
					$('#wineForm').submit();
				});
				$('.sortWine').click(function() {
					query = $(this).attr('query');
					vintage = $(this).attr('vintage');
					pageNumber = $(this).attr('pagenumber');
					continent = $(this).attr('continent');
					sortBy = $(this).attr('sortby');
					sortOrder = $(this).attr('sortorder');
					sortOrder = sortOrder == 'asc' ? 'desc' : 'asc';
					if(vintage == 'All')
						vintage = '';
					$('#vintage').val(vintage);
					$('#pageNumber').val(pageNumber);
					$('#sortBy').val(sortBy);
					$('#sortOrder').val(sortOrder);
					$('#wineForm').submit();
				});
			});			

			$("#ex2").slider({});
			$("#ex3").slider({});
		</script>	
	</body>
</html>