<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Winesrate | THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE</title>

  <!--  mete tags -->
  
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="HandheldFriendly" content="true" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE" />

  <!-- script -->


  <!-- css link -->
  <link rel="stylesheet" type="text/css" href="../static/css/app.css" th:href="@{/css/app.css}" />
  <!-- Autocomplete style -->
  <link rel="stylesheet" href="../static/css/easy-autocomplete.min.css" type='text/css' th:href="@{/css/easy-autocomplete.min.css}" />
  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

  <!-- js link -->
  <script type="text/javascript" src="../static/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
  <!--<script type="text/javascript" src="../static/js/app.js" th:src="@{/js/app.js}"></script> -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->                              
  <script type="text/javascript" src="../static/js/jquery.easy-autocomplete.min.js" th:src="@{/js/jquery.easy-autocomplete.min.js}" ></script>

</head>

<body>
  <!-- app header -->
  <div class="header">
    <div class="wrapper">
      <nav role="navigation">
		 <div id="menuToggle">
		    <!--
		    A fake / hidden checkbox is used as click reciever,
		    so you can use the :checked selector on it.
		    -->
		    <input type="checkbox" />
		    
		    <!--
		    Some spans to act as a hamburger.
		    
		    They are acting like a real hamburger,
		    not that McDonalds stuff.
		    -->
		    <span></span>
		    <span></span>
		    <span></span>
		    
		    <!--
		    Too bad the menu has to be inside of the button
		    but hey, it's pure CSS magic.
		    -->
		    <ul id="menu">
		      <a href="/" data-hover="Home"><li>Home</li></a>
		      <a href="/blogs/" data-hover="Blog"><li>Blog</li></a>
		      <a href="/news/" data-hover="News"><li>News</li></a>
		      <a href="/wine/local-store" data-hover="Add Store"><li>Add Store</li></a>
		    </ul>
		  </div>
		</nav>
      <div class="logo">
        <a href="/"><img src="../static/images/logo.png" alt="" th:src="@{/images/logo.png}" /></a>
      </div>
      <div class="nav">
        <p><a href="/" data-hover="Home">Home</a></p>
        <p><a href="/blogs/" data-hover="Blog">Blog</a></p>
        <p><a href="/news/" data-hover="News">News</a></p>
        <p><a href="/wine/local-store" data-hover="Add Store">Add Store</a></p>
      </div>      
    </div>
  </div>

  <!-- app hero -->
  <div class="hero">
    <div class="tagline">
      <p>Compare online wine prices with WINESRATE</p>
    </div>
    <div class="search-box">
      <form action="/wine/" method="post" id="search">
        <input name="query" id="query" type="text" value="pinot noir" onblur="if (this.value == '') {this.value = '';}" />
        <input name="continent" id="continent" type="hidden" />
        <input type="submit" value="Submit" class="home-submit"/>
      </form>
    </div>
  </div>

  <!-- app sections -->
  <div class="section-container">
    <div class="section-1">
      <div class="container">
        <div class="thumb-title">
        	BROWSE BY TYPE
        </div>
        <div class="wine-thumbs">
        	<div class="single-thumb">
        		<div class="thumb-container">
        			<a href="#" class="wine-category" category="pinot noir">
	        			<div class="hover-container">
		        			<img class="thumb-image" th:src="@{/images/pinot.jpg}" src="../static/images/pinot.jpg" />
		        			 <div class="overlay">
							    <div class="text">VIEW</div>
							 </div>        			
		        			<div class="thumb-text">
		        				PINOT NOIR
		        			</div>        
		        		</div>			  
		        	</a>      			
        		</div>        		
        	</div>
        	<div class="single-thumb">
        		<div class="thumb-container">
        			<a href="#" class="wine-category" category="syrah">
	        			<div class="hover-container">
		        			<img class="thumb-image" th:src="@{/images/syrah.jpg}" src="../static/images/syrah.jpg" />
		        			 <div class="overlay">
							    <div class="text">VIEW</div>
							 </div>        			
		        			<div class="thumb-text">
		        				SYRAH
		        			</div>        
		        		</div>			  
		        	</a>      			
        		</div>        		
        	</div>
        	<div class="single-thumb">
        		<div class="thumb-container">
        			<a href="#" class="wine-category" category="merlot">
	        			<div class="hover-container">
		        			<img class="thumb-image" th:src="@{/images/merlot.jpg}" src="../static/images/merlot.jpg" />
		        			 <div class="overlay">
							    <div class="text">VIEW</div>
							 </div>        			
		        			<div class="thumb-text">
		        				MERLOT
		        			</div>        
		        		</div>			  
		        	</a>      			
        		</div>        		
        	</div>
        	<div class="single-thumb">
        		<div class="thumb-container">
        			<a href="#" class="wine-category" category="cabernet">
	        			<div class="hover-container">
		        			<img class="thumb-image" th:src="@{/images/cabernet.jpg}" src="../static/images/cabernet.jpg" />
		        			 <div class="overlay">
							    <div class="text">VIEW</div>
							 </div>        			
		        			<div class="thumb-text">
		        				CABERNET
		        			</div>        
		        		</div>			  
		        	</a>      			
        		</div>        		
        	</div>
        </div>
      </div>
       <div class="container container-2">
        <div class="thumb-title">
        	BROWSE BY REGION
        </div>
        <div class="wine-thumbs">
        	<div class="single-thumb">
        		<div class="thumb-container">
        			<a href="#" class="wine-region" region="North America">
	        			<div class="hover-container">
		        			<img class="thumb-image" th:src="@{/images/america.jpg}" src="../static/images/america.jpg" />
		        			 <div class="overlay">
							    <div class="text">VIEW</div>
							 </div>        			
		        			<div class="thumb-text">
		        				NORTH AMERICA
		        			</div>        
		        		</div>			  
		        	</a>      			
        		</div>        		
        	</div>
        	<div class="single-thumb">
        		<div class="thumb-container">
        			<a href="#" class="wine-region" region="South America">
	        			<div class="hover-container">
		        			<img class="thumb-image" th:src="@{/images/south-america.jpg}" src="../static/images/south-america.jpg" />
		        			 <div class="overlay">
							    <div class="text">VIEW</div>
							 </div>        			
		        			<div class="thumb-text">
		        				SOUTH AMERICA
		        			</div>        
		        		</div>			  
		        	</a>      			
        		</div>        		
        	</div>
        	<div class="single-thumb">
        		<div class="thumb-container">
        			<a href="#" class="wine-region" region="Europe">
	        			<div class="hover-container">
		        			<img class="thumb-image" th:src="@{/images/europe.jpg}" src="../static/images/europe.jpg" />
		        			 <div class="overlay">
							    <div class="text">VIEW</div>
							 </div>        			
		        			<div class="thumb-text">
		        				EUROPE
		        			</div>        
		        		</div>			  
		        	</a>      			
        		</div>        		
        	</div>
        	<div class="single-thumb">
        		<div class="thumb-container">
        			<a href="#" class="wine-region" region="Asia">
	        			<div class="hover-container">
		        			<img class="thumb-image" th:src="@{/images/asia.jpg}" src="../static/images/asia.jpg" />
		        			 <div class="overlay">
							    <div class="text">VIEW</div>
							 </div>        			
		        			<div class="thumb-text">
		        				ASIA
		        			</div>        
		        		</div>			  
		        	</a>      			
        		</div>        		
        	</div>
        </div>
      </div>
    </div>
    <div class="section-3">
      <div class="">
        <p>From brew to Grand Cru</p>
        <p>Always know the best price</p>
        <p>at Wines Rate</p>
      </div>
    </div>
  </div>

  <!-- app footer -->
  <div class="footer">
    <div class="logo-footer">
      <p>Wine-rates</p>
    </div>
    <div class="main">
      <div class="wrapper">
        <div class="border">
          <ul>
            <li><a href="/about-us" class="footerlinks">About</a></li>            
          </ul>
        </div>
        <div class="border">
          <ul>
            <li><a href="/blogs" class="footerlinks">Blog</a></li>            
          </ul>
        </div>
        <div class="border">
          <ul>
            <li><a href="/news" class="footerlinks">News</a></li>            
          </ul>
        </div>
        <div class="border">
          <ul>
            <li><a href="/wine/localstore" class="footerlinks">Add Store</a></li>            
          </ul>
        </div>
      </div>
    </div>
    <div class="sub">

    </div>
  </div>
  <script type="text/javascript">
     var response;
     var options = {
        url: function(phrase) {                                         
           return "/wines/search/suggest/" + phrase;
        },      
        getValue: "title"
     };
     $("#query").easyAutocomplete(options);
      $(document).ready(function() {
        $('.recommended-wines').click(function() {
           title = $($(this).find('.title')[0]).attr('title');
           $('#query').val(title);
           $('#search').submit();                                  
        });
     });
     $('.wine-category').click(function(e) {    	 
    	 e.preventDefault();
    	 var query = $(this).attr('category');
    	 $('#query').val(query);
         $('#search').submit(); 
     })
     $('.wine-region').click(function(e) {    	 
    	 e.preventDefault();
    	 var continent = $(this).attr('region');
    	 $('#query').val('');
    	 $('#continent').val(continent);
         $('#search').submit();          
     })
	</script>
</body>

</html>
 