<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Winesrate | THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE</title>

	<!--  mete tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE" />

	<!-- script -->


	<!-- css link -->
	<link rel="stylesheet" type="text/css" href="../static/css/app.css" th:href="@{/css/app.css}" />	
	<link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />

	<!-- Autocomplete style -->
	<link rel="stylesheet" href="../static/css/easy-autocomplete.min.css" type='text/css' th:href="@{/css/easy-autocomplete.min.css}" />

	<!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

	<!-- js link -->
	<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>

	<script type="text/javascript" src="../static/js/app.js" th:src="@{/js/app.js}"></script>	

	<!--<script type="text/javascript" src="../static/js/app.js" th:src="@{/js/app.js}"></script> -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="../static/js/jquery.easy-autocomplete.min.js" th:src="@{/js/jquery.easy-autocomplete.min.js}"></script>


</head>

<body style="background-color:#fff;">
	<!-- app header -->
	<div class="header">
		<div class="wrapper">
			<div class="logo">
				<a href="/"><img src="../static/images/logo.png" alt="" th:src="@{/images/logo.png}" /></a>
			</div>
			<div class="nav">
				<p><a href="/" data-hover="Home">Home</a></p>
				<p><a href="/blogs/" data-hover="Blog">Blog</a></p>
        		<p><a href="/news/" data-hover="News">News</a></p>
        		<p><a href="/wine/local-store" data-hover="Add Store">Add Store</a></p>
			</div>
		</div>
	</div>	
	<div class="form-flex">		
		<div class="form-blog">
			<div class="container">
				<div class="row">				
					<form>
						<h1>Add Store</h1>
						<div class="form-group">
							<label for="store-name">Store Name</label>
							<input type="text" name="supv" class="form-control" id="store-name" required="true"/>					
						</div>
						<div class="form-group">
							<label for="store-manager">Store Manager</label>
							<input type="text" name="manager" class="form-control" id="store-manager" required="true" />					
						</div>
						<div class="form-group">
							<label for="email">E-mail</label>
							<input type="email" name="email" class="form-control" id="email" required="true" />					
						</div>
						<div class="form-group">
							<label for="website">Website</label>
							<input type="url" name="website" class="form-control" id="website" required="true" />					
						</div>				
						<div class="form-group">
							<label for="telephone">Telephone</label>
							<input name="telephone" type="text" class="form-control" id="telephone" required="true" />					
						</div>
						<div class="form-group">
							<label for="address">Address</label>
							<input type="text" name="storeLocation" class="form-control" id="address" required="true" />					
						</div>						
						<button type="submit" class="btn btn-primary form-submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- app footer -->
	  <div class="footer">
	    <div class="logo-footer">
	      <p>Wine-rates</p>
	    </div>
	    <div class="main">
	      <div class="wrapper">
	        <div class="border">
	          <ul>
	            <li><a href="/about-us" class="footerlinks">About</a></li>            
	          </ul>
	        </div>
	        <div class="border">
	          <ul>
	            <li><a href="/blogs" class="footerlinks">Blog</a></li>            
	          </ul>
	        </div>
	        <div class="border">
	          <ul>
	            <li><a href="/news" class="footerlinks">News</a></li>            
	          </ul>
	        </div>
		      <div class="border">
		          <ul>
		            <li><a href="/wine/localstore" class="footerlinks">Add Store</a></li>            
		          </ul>
		      </div>
	      </div>
	    </div>
	    <div class="sub">
	
	    </div>
	  </div>
	  <script type="text/javascript">
	  	$(document).ready(function() {
	  		$('form').submit(function(e) {
	  			e.preventDefault();
	  			var data = JSON.stringify(getFormData($($('form')[0])));
	  			$.ajax({
	  	          "url" : "/wine/local-store",
	  	          "method" : 'POST',
	  	          "data" : data,
	  	          "async": true,
	  	          "contentType" : 'application/json',
	  	          "dataType": "json",
	  	          "processData": false
	  	        })
	  	        .done((data) => {
	  	          console.log(data);
	  	          $('form').html('<div class="alert alert-primary" role="alert">Congratulations! We have added your store to the listing.</div>');
	  	        })
	  	        .error( (err) => {
	  	          $('form').html('<div class="alert alert-danger" role="alert">Something went wrong! Please try again later.</div>');
	  	        });
	  		});
	  	});
	  	function getFormData($form){
	  	    var unindexed_array = $form.serializeArray();
	  	    var indexed_array = {};

	  	    $.map(unindexed_array, function(n, i){
	  	        indexed_array[n['name']] = n['value'];
	  	    });

	  	    return indexed_array;
	  	}
	  </script>
</body>
</html>