<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Search</title>
</head>

<body>
<h1>Search results</h1>
    <p th:each="wine : ${wines}"
       th:text="${wine.title}">Wine title</p>
</body>

</html>