<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Winesrate | THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' th:href="@{/css/bootstrap.css}" />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- Custom Theme files -->
		<link href="../static/css/style.css" rel='stylesheet' type='text/css' th:href="@{/css/style.css}" />
		
		<!-- Autocomplete style -->
		<link rel="stylesheet" href="../static/css/easy-autocomplete.min.css" type='text/css' th:href="@{/css/easy-autocomplete.min.css}" /> 
		
		<!-- Additional CSS Themes file - not required-->
		<link rel="stylesheet" href="../static/css/easy-autocomplete.themes.min.css" type='text/css' th:href="@{/css/easy-autocomplete.themes.min.css}" />
		<!-- Custom Theme files -->
		<!--webfont-->
		<link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
		<script src="../static/js/responsiveslides.min.js" th:src="@{/js/responsiveslides.min.js}"></script>
		<script>
		    $(function () {
		      $("#slider").responsiveSlides({
		      	auto: true,
		      	nav: true,
		      	speed: 500,
		        namespace: "callbacks",
		        pager: true,
		      });
		    });
		</script>
		<script type="text/javascript" src="../static/js/hover_pack.js" th:src="@{/js/hover_pack.js}"></script>
		<!-- JS file -->
		<script type="text/javascript" src="../static/js/jquery.easy-autocomplete.min.js" th:src="@{/js/jquery.easy-autocomplete.min.js}" ></script> 				 
				
	</head>
	<body>
		<div class="header">
			<div class="h_menu4"><!-- start h_menu4 -->
				<div class="container">
						<a class="toggleMenu" href="#">Menu</a>
						<ul class="nav">
							<li class="active"><a href="/" data-hover="Home">Home</a></li>					
							<li class="active"><a href="/" data-hover="Home">Price Alerts</a></li>
							<li class="active"><a href="/" data-hover="Home">Getting Listed</a></li>
							<li class="active"><a href="/" data-hover="Home">About us</a></li>
							<li class="active"><a href="/" data-hover="Home">Links</a></li>
							<li class="active"><a href="/" data-hover="Home">For Website Owners</a></li>
							<li class="active"><a href="/" data-hover="Home">For Retail Store Owner</a></li>
						 </ul>
						 <script type="text/javascript" src="../static/js/nav.js"  th:src="@{/js/nav.js}"></script>
			      </div><!-- end h_menu4 -->
		     </div>
		     <div class="header_top">
				<div class="container">
					<div class="logo">
						<a href="/"><img src="../static/images/logo.png" alt="" th:src="@{/images/logo.png}" /></a>
					</div>			
				    <div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="content_top">
		  		<div class="container">
			  	   <div class="col-md-12">
			  	   	<h1><p th:utext="${'Search results for - ' + query}"></p><font color="black"></font></h1>
			  	   </div>
				   	<div class="col-md-12 content_right">	   	
				   		<div class="top_grid2">		
				   			<ul class="menu">
				   				<div class="container" th:each="wine : ${wines}">
				   					<div class="row">
				   						<div class="col-md-5">
											<a href="#"  th:href="${'/wines/wine/' + wine.id}">
												<li>
													<img class="arrow-img pull-left" style="margin-top: 4px;" th:src="@{/images/f_menu.png}" alt="" />
													<div class="pull-left" style="margin-left: 10px;" th:text="${wine.title}">
													</div>
												</li>
											</a>
										</div>
										<div class="col-md-2" th:text="${wine.country}">											
										</div>
										<div class="col-md-2" th:text="${wine.region}">											
										</div>
									</div>
								</div>							
							</ul>		     		
						</div> 
				  	</div> 
		       	</div>
			</div>  	    
		</div>
		<div class="footer_bg">
		</div>
		<div class="footer_bottom">
	       	<div class="container">
	       		<div class="cssmenu">
					<ul>
						<li class="active"><a href="login.html">Privacy Policy</a></li> .
						<li><a href="checkout.html">Terms of Service</a></li> .
						<li><a href="checkout.html">Creative Rights Policy</a></li> .
						<li><a href="login.html">Contact Us</a></li> .
						<li><a href="register.html">Support and FAQ</a></li>
					</ul>
				</div>
				<div class="copy">
				    <p>&copy;  2017 WinesRate</p>
			    </div>
			    <div class="clearfix"> </div>
	       	</div>
		</div>
		<script type="text/javascript">
			var options = {
					url: function(phrase) {
						return "/wines/search/suggest/" + phrase;
					},
	
					getValue: "title"
				};

			$("#query").easyAutocomplete(options);
		</script>
	</body>
</html>		