<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Winesrate | THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE</title>

	<!--  mete tags -->
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="HandheldFriendly" content="true" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE" />

	<!-- script -->


	<!-- css link -->
	<link rel="stylesheet" type="text/css" href="../static/css/app.css" th:href="@{/css/app.css}" />	
	<link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />

	<!-- Autocomplete style -->
	<link rel="stylesheet" href="../static/css/easy-autocomplete.min.css" type='text/css' th:href="@{/css/easy-autocomplete.min.css}" />

	<!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

	<!-- js link -->
	<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>

	<script type="text/javascript" src="../static/js/app.js" th:src="@{/js/app.js}"></script>	

	<!--<script type="text/javascript" src="../static/js/app.js" th:src="@{/js/app.js}"></script> -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="../static/js/jquery.easy-autocomplete.min.js" th:src="@{/js/jquery.easy-autocomplete.min.js}"></script>


</head>

<body style="background-color:#fff;">
	<!-- app header -->
	<div class="header">
		<div class="wrapper">
			<nav role="navigation">
			 <div id="menuToggle">
			    <!--
			    A fake / hidden checkbox is used as click reciever,
			    so you can use the :checked selector on it.
			    -->
			    <input type="checkbox" />
			    
			    <!--
			    Some spans to act as a hamburger.
			    
			    They are acting like a real hamburger,
			    not that McDonalds stuff.
			    -->
			    <span></span>
			    <span></span>
			    <span></span>
			    
			    <!--
			    Too bad the menu has to be inside of the button
			    but hey, it's pure CSS magic.
			    -->
			    <ul id="menu">
			      <a href="/" data-hover="Home"><li>Home</li></a>
			      <a href="/blogs/" data-hover="Blog"><li>Blog</li></a>
			      <a href="/news/" data-hover="News"><li>News</li></a>
			      <a href="/wine/local-store" data-hover="Add Store"><li>Add Store</li></a>
			    </ul>
			  </div>
			</nav>
			<div class="logo">
				<a href="/"><img src="../static/images/logo.png" alt="" th:src="@{/images/logo.png}" /></a>
			</div>
			<div class="nav">
				<p><a href="/" data-hover="Home">Home</a></p>
				<p><a href="/blogs/" data-hover="Blog">Blog</a></p>
        		<p><a href="/news/" data-hover="News">News</a></p>
        		<p><a href="/wine/local-store" data-hover="Add Store">Add Store</a></p>
			</div>
			<!-- <div class="action">
        <div class="trans-btn">
          something something
        </div>
      </div> -->
		</div>
	</div>
	<!-- find-container -->
	<div class="find-container">
		<div class="flex">
			<div class="search-container">
				<div class="search">
					<form class="" action="" method="post" id="winePageSearch">
						<div class="flex">
							<input type="text" placeholder="Wine name" name="wineName" id="querySearch" th:value="${query}" />
							<input type="hidden" value="0" id="currentPageCount" />
							<select class="selectOptions" name="vintage" id="vintageSearch">
								<th:block th:each="current, iter : ${vintage}">
								<th:block th:if="${vintage != reqVintage}">
									<option th:value="${current.key != 'All' ? current.key : '' }" th:text="${current.key}"></option>
								</th:block>
								<th:block th:if="${current.key == reqVintage}">
									<option th:value="${current.key != 'All' ? current.key : '' }" th:text="${current.key}" th:attr="selected='true'"></option>
								</th:block>
							</th:block>
							</select>
							<button type="submit" name="submit" value="Submit">Submit</button>
						</div>
						<div class="flex">
							<p>Merchant Location:</p>
							<div class="select">
								<select class="selectOptions" id="continentSearch" name="continent">
									<th:block th:each="agg, iter : ${aggs}">
										<th:block th:if="${continent != agg.key}">
											<option th:value="${agg.key != 'Worldwide' ? agg.key : ''}" th:text="${agg.key}"></option>
										</th:block>
										<th:block th:if="${continent == agg.key}">
											<option th:value="${agg.key != 'Worldwide' ? agg.key : ''}" th:text="${agg.key}" th:attr="selected='true'"></option>
										</th:block>
									</th:block>
                				</select>
							</div>
						</div>
					</form>
				</div>
				<th:block th:if="${#lists.size(wines) == 0}">
			    	<div class="displayname">
						<p id="queryText" th:text="${'No results for ' + query + '. Take a look at recommended wines.'}"></p>
					</div>
			    </th:block>					
			    <th:block th:if="${#lists.size(wines) != 0}">
					<div class="displayname">
						<p id="queryText" th:text="${query}"></p>
					</div>
				</th:block>
			</div>
		</div>
		<div class="flex">
			<th:block th:if="${#lists.size(wines) != 0}">			
				<div class="filter-box">
					<div class="filter-content">
						<div class="filter-title">
							Gallery
						</div>
						<div class="filter-image">
							<img src="../static/images/cold-beer.jpg" th:src="@{/images/cold-beer.jpg}" />				
						</div>
					</div>
					<div class="filter-content">
						<div class="filter-title">
							<img class="filter-icon" src="../static/css/fonts/store.svg" alt="" th:src="@{/css/fonts/store.svg}" />
							Stores
						</div>
						<div class="filter-content filter-scroll">
							<th:block th:each="store : ${stores}">
								<div th:text="${store.key}"></div>
							</th:block>
						</div>					
					</div>
					<div class="filter-content">
						<div class="filter-title">
							<img class="filter-icon" src="../static/images/hourglass.svg" alt="" th:src="@{/images/hourglass.svg}" />
							Vintages
						</div>
						<div class="filter-content filter-scroll">
							<th:block th:each="v : ${vintage}">
								<div th:text="${v.key}"></div>
							</th:block>
						</div>					
					</div>
					<div class="filter-content">
						<div class="filter-title">
							<img class="filter-icon" src="../static/images/home.svg" alt="" th:src="@{/images/home.svg}" />
							Regions
						</div>
						<div class="filter-content filter-scroll">
							<th:block th:each="c : ${aggs}">
								<div th:text="${c.key}"></div>
							</th:block>
						</div>					
					</div>
					<th:block th:if="${#lists.size(countries) != 0}">
						<div class="filter-content">
							<div class="filter-title">
								<img class="filter-icon" style="width:13px; height: 13px;" src="../static/images/globe.png" alt="" th:src="@{/images/globe.png}" />
								Countries
							</div>
							<div class="filter-content filter-scroll">
								<th:block th:each="c : ${countries}">
									<div th:text="${c.key}"></div>
								</th:block>
							</div>					
						</div>
					</th:block>
					<th:block th:if="${#lists.size(brands) != 0}">
						<div class="filter-content">
							<div class="filter-title">
								<img class="filter-icon" src="../static/css/fonts/store.svg" alt="" th:src="@{/css/fonts/store.svg}" />
								Brands
							</div>
							<div class="filter-content filter-scroll">
								<th:block th:each="b : ${brands}">
									<div th:text="${b.key}"></div>
								</th:block>
							</div>					
						</div>
					</th:block>
					<div class="filter-content">
						<div class="filter-title">
							<img class="filter-icon" src="../static/images/money.svg" alt="" th:src="@{/images/money.svg}" />
							Average Price
						</div>
						<div class="filter-content">
							<div th:text="${avgPrice}"></div>
						</div>					
					</div>
				</div>
			</th:block>
			<div class="result-info-box">								
				<section id="content1">			    			  		 		
					<div id="replaceableContent">
						<th:block th:if="${#lists.size(wines) != 0}">
							<table class="table table-striped table-bordered wine-table">							
								<tbody th:each="wine : ${wines}">
									<tr>
										<td class="col-md-3">
											<div class="result-title">
												<a href="#" th:href="${wine.URL}" th:text="${wine.title}" class="clickWine" target="_blank"></a>
											</div>										
											<div class="result-detail">
												<div class="detail-vintage">
													<th:block th:if="${wine.vintage != null and wine.vintage != ''}">
														<img class="filter-icon png-icon" src="../static/images/hourglass.svg" alt="" th:src="@{/images/hourglass.svg}" />
														<span th:text="${wine.vintage}" class="filter-icon"></span>
														&nbsp;&nbsp;&nbsp;&nbsp;
													</th:block>
													<th:block th:if="${wine.country != null and wine.country != ''}">
														<img class="filter-icon png-icon" src="../static/images/home.svg" alt="" th:src="@{/images/home.svg}" />
														<span th:text="${wine.country}" class="filter-icon"></span>
													</th:block>
													<th:block th:if="${wine.appellation != null and wine.appellation != ''}">
														&nbsp;&nbsp;&nbsp;&nbsp;
														<img class="filter-icon png-icon" src="../static/images/globe.png" alt="" th:src="@{/images/globe.png}" />
														<span th:text="${wine.appellation}" class="filter-icon"></span>
													</th:block>
												</div>												
												<th:block th:if="${wine.bottleSize != null and wine.bottleSize != ''}">
													<div class="detail-size">										
														<img class="filter-icon png-icon" src="../static/images/ruler.svg" alt="" th:src="@{/images/ruler.svg}" />
														<span th:text="${wine.bottleSize}"></span>
													</div>
												</th:block>
											</div>
											<div class="responsive-rating">
												<fieldset class="rating">
													<input type="radio" id="star5" name="rating" value="5"  th:checked="${wine.rating == 5.0}"/>
												    <label class = "full" for="star5" title="Awesome - 5 stars"  ></label>
												    <input type="radio" id="star4half" name="rating" value="4 and a half" th:checked="${wine.rating == 4.5}" />
												    <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
												    <input type="radio" id="star4" name="rating" value="4" th:checked="${wine.rating == 4.0}" />
												    <label class = "full" for="star4" title="Pretty good - 4 stars" ></label>
												    <input type="radio" id="star3half" name="rating" value="3 and a half" th:checked="${wine.rating == 3.5}" />
												    <label class="half" for="star3half" title="Meh - 3.5 stars" ></label>
												    <input type="radio" id="star3" name="rating" value="3" th:checked="${wine.rating == 3.0}" />
												    <label class = "full" for="star3" title="Meh - 3 stars" ></label>
												    <input type="radio" id="star2half" name="rating" value="2 and a half" th:checked="${wine.rating == 2.5}"/>
												    <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
												    <input type="radio" id="star2" name="rating" value="2" th:checked="${wine.rating == 2.0}" />
												    <label class = "full" for="star2" title="Kinda bad - 2 stars" ></label>
												    <input type="radio" id="star1half" name="rating" value="1 and a half" th:checked="${wine.rating == 1.5}" />
												    <label class="half" for="star1half" title="Meh - 1.5 stars" ></label>
												    <input type="radio" id="star1" name="rating" value="1" th:checked="${wine.rating == 1.0}" />
												    <label class = "full" for="star1" title="Sucks big time - 1 star" ></label>
												    <input type="radio" id="starhalf" name="rating" value="half" th:checked="${wine.rating == 0.5}" />
												    <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
												</fieldset>
											</div>
										</td>
										<td class="col-md-1">
											<div class="result-store">
												<a href="#" th:href="${wine.URL}" target="_blank">
													<img class="store-logo" alt="" th:src="${wine.store.logoUrl}" />
												</a>
											</div>
										</td>
										<td class="col-md-2 price-col" th:text="${'$ ' + wine.price}"></td>										
										<td class="col-md-2"><a href="#" th:href="${wine.URL}" th:text="Link" class="clickWine" target="_blank"></a></td>									
									</tr>
								</tbody>
							</table>								
							<!-- pagination -->
							<ul id="nav-tab">
								<li th:if="${currentPage >= 10}">
									<a class="pageLink" href="#" th:attr="continent=${continent},sortBy=${sortBy},sortOrder=${sortOrder},pagenumber=${firstPageNav-10 > 1 ? firstPageNav - 10 : 0},query=${query},vintage=${reqVintage}">Previous</a>
								</li>
								<th:block th:each="i : ${#numbers.sequence( firstPageNav, lastPageNav)}">
									<li th:attr="class=${(i - 1) == currentPage } ? 'active' : ''">
										<a href="#" th:attr="continent=${continent},data-val=${i - 1},sortBy=${sortBy},sortOrder=${sortOrder},pagenumber=${i},query=${query},vintage=${reqVintage}" class="pageLink" th:text="${i}"></a>
									</li>
								</th:block>
								<li th:if="${currentPage / 10 != totalPages / 10 and totalPages > 10  }">
									<a class="pageLink" href="#" th:attr="continent=${continent},sortBy=${sortBy},sortOrder=${sortOrder},pagenumber=${lastPageNav+1},query=${query},vintage=${reqVintage}">Next</a>
								</li>
							</ul>					
						</th:block>					
				        <th:block th:if="${#lists.size(wines) == 0}">
							<table class="table table-striped table-bordered wine-table">
								<tbody th:each="wine : ${recommended}">
									<tr>
										<td class="col-md-3">
											<div class="result-title">
												<a href="#" th:href="${wine.URL}" th:text="${wine.title}" class="clickWine" target="_blank"></a>
											</div>										
											<div class="result-detail">
												<div class="detail-vintage">
													<th:block th:if="${wine.vintage != null and wine.vintage != ''}">
														<img class="filter-icon png-icon" src="../static/images/hourglass.svg" alt="" th:src="@{/images/hourglass.svg}" />
														<span th:text="${wine.vintage}" class="filter-icon"></span>
														&nbsp;&nbsp;&nbsp;&nbsp;
													</th:block>
													<th:block th:if="${wine.country != null and wine.country != ''}">
														<img class="filter-icon png-icon" src="../static/images/home.svg" alt="" th:src="@{/images/home.svg}" />
														<span th:text="${wine.country}" class="filter-icon"></span>
													</th:block>
													<th:block th:if="${wine.appellation != null and wine.appellation != ''}">
														&nbsp;&nbsp;&nbsp;&nbsp;
														<img class="filter-icon png-icon" src="../static/images/globe.png" alt="" th:src="@{/images/globe.png}" />
														<span th:text="${wine.appellation}" class="filter-icon"></span>
													</th:block>
												</div>												
												<th:block th:if="${wine.bottleSize != null and wine.bottleSize != ''}">
													<div class="detail-size">										
														<img class="filter-icon png-icon" src="../static/images/ruler.svg" alt="" th:src="@{/images/ruler.svg}" />
														<span th:text="${wine.bottleSize}"></span>
													</div>
												</th:block>
											</div>
										</td>
										<td class="col-md-1">
											<div class="result-store">
												<a href="#" th:href="${wine.URL}" target="_blank">
													<img class="store-logo" alt="" th:src="${wine.store.logoUrl}" />
												</a>
											</div>
										</td>
										<td class="col-md-2" th:text="${'$ ' + wine.price}"></td>
										<td class="col-md-4 rating">
											<fieldset class="rating">
											    <input type="radio" id="star5" name="rating" value="5"  th:checked="${wine.rating == 5.0}"/>
											    <label class = "full" for="star5" title="Awesome - 5 stars"  ></label>
											    <input type="radio" id="star4half" name="rating" value="4 and a half" th:checked="${wine.rating == 4.5}" />
											    <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
											    <input type="radio" id="star4" name="rating" value="4" th:checked="${wine.rating == 4.0}" />
											    <label class = "full" for="star4" title="Pretty good - 4 stars" ></label>
											    <input type="radio" id="star3half" name="rating" value="3 and a half" th:checked="${wine.rating == 3.5}" />
											    <label class="half" for="star3half" title="Meh - 3.5 stars" ></label>
											    <input type="radio" id="star3" name="rating" value="3" th:checked="${wine.rating == 3.0}" />
											    <label class = "full" for="star3" title="Meh - 3 stars" ></label>
											    <input type="radio" id="star2half" name="rating" value="2 and a half" th:checked="${wine.rating == 2.5}"/>
											    <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
											    <input type="radio" id="star2" name="rating" value="2" th:checked="${wine.rating == 2.0}" />
											    <label class = "full" for="star2" title="Kinda bad - 2 stars" ></label>
											    <input type="radio" id="star1half" name="rating" value="1 and a half" th:checked="${wine.rating == 1.5}" />
											    <label class="half" for="star1half" title="Meh - 1.5 stars" ></label>
											    <input type="radio" id="star1" name="rating" value="1" th:checked="${wine.rating == 1.0}" />
											    <label class = "full" for="star1" title="Sucks big time - 1 star" ></label>
											    <input type="radio" id="starhalf" name="rating" value="half" th:checked="${wine.rating == 0.5}" />
											    <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
											</fieldset>
										</td>
										<td class="col-md-2"><a href="#" th:href="${wine.URL}" th:text="Link" class="clickWine" target="_blank"></a></td>									
									</tr>
								</tbody>
							</table>												
						</th:block>
					</div>
				</section>
			</div>
			<div class="filter-box filter-box-store">
				<section id="content2">
					<h3 class="store-h3">Stores</h3>
						<div class="store-block filter-scroll">
							<th:block th:each="ls : ${localStores}">							
								<div class="single-store">
									<div class="result-title store-title" th:text="${ls.supv}"></div>																		
									<div class="result-detail" th:utext="${ls.manager}"></div>								
									<div class="result-detail" th:utext="${ls.telephone}"></div>
								</div>																								
							</th:block>
						</div>
				</section>
			</div>
		</div>
	</div>
	<form id="wineForm" method="post" action="/wine/">
		<input type="hidden" name="query" id="query" th:value="${query}" />
		<input type="hidden" name="continent" id="continent" />
		<input type="hidden" name="vintage" id="vintage" />
		<input type="hidden" name="pageNumber" id="pageNumber" />
		<input type="hidden" name="sortBy" id="sortBy" />
		<input type="hidden" name="sortOrder" id="sortOrder" />
		<input type="submit" class="hidden" />
	</form>
	<!-- app footer -->
	  <div class="footer">
	    <div class="logo-footer">
	      <p>Wine-rates</p>
	    </div>
	    <div class="main">
	      <div class="wrapper">
	        <div class="border">
	          <ul>
	            <li><a href="/about-us" class="footerlinks">About</a></li>            
	          </ul>
	        </div>
	        <div class="border">
	          <ul>
	            <li><a href="/blogs" class="footerlinks">Blog</a></li>            
	          </ul>
	        </div>
	        <div class="border">
	          <ul>
	            <li><a href="/news" class="footerlinks">News</a></li>            
	          </ul>
	        </div>	      
	      <div class="border">
	          <ul>
	            <li><a href="/wine/localstore" class="footerlinks">Add Store</a></li>            
	          </ul>
	      </div>
	    </div>
	    </div>
	    <div class="sub">
	
	    </div>
	  </div>
	<script type="text/javascript">
			$(document).ready(function() {
				$('.wineSearch').click(function() {
					query = $(this).attr('query');
					continent = $(this).attr('continent');
					vintage = $(this).attr('vintage');
					if(continent == 'Worldwide')
						continent = '';
					$('#continent').val(continent);
					$('#vintage').val(vintage);
					$('#wineForm').submit();
				});
				$('.wineVintage').click(function() {
					query = $(this).attr('query');
					vintage = $(this).attr('vintage');
					continent = $(this).attr('continent');
					if(vintage == 'All')
						vintage = '';
					$('#vintage').val(vintage);
					$('#continent').val(continent);
					$('#wineForm').submit();
				});
				$('.pageLink').click(function() {
					query = $(this).attr('query');
					vintage = $(this).attr('vintage');
					pageNumber = $(this).attr('pagenumber')-1;
					continent = $(this).attr('continent');
					if(vintage == 'All')
						vintage = '';
					$('#vintage').val(vintage);
					$('#pageNumber').val(pageNumber);
					$('#continent').val(continent);
					$('#wineForm').submit();
				});
				$('.sortWine').click(function() {
					query = $(this).attr('query');
					vintage = $(this).attr('vintage');
					pageNumber = $(this).attr('pagenumber');
					continent = $(this).attr('continent');
					sortBy = $(this).attr('sortby');
					sortOrder = $(this).attr('sortorder');
					sortOrder = sortOrder == 'asc' ? 'desc' : 'asc';
					if(vintage == 'All')
						vintage = '';
					$('#vintage').val(vintage);
					$('#pageNumber').val(pageNumber);
					$('#sortBy').val(sortBy);
					$('#sortOrder').val(sortOrder);
					$('#wineForm').submit();
				});
			});	
			$(document).ready(function() {
				var query = $('#queryText').text() + ' bottle'; 
				var url = "https://www.pixabay.com/api?key=6647375-a2cc3386aa19df81ba2ed0751&amp;q=" + query + "&amp;min_width=170&amp;min_height=250&amp;callback=?";
				$.getJSON(url, function(data) {
					var hits = data.hits;
					if(data.hits.length > 0) {
						$('.filter-image img').attr("src", hits[0].webformatURL);
					}
				});
			});
		</script>
</body>
</html>