<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Winesrate | THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE</title>

	<!--  mete tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="THE WORLD'S MOST POWERFUL SEARCH ENGINE FOR WINE" />

	<!-- script -->


	<!-- css link -->
	<link rel="stylesheet" type="text/css" href="../static/css/app.css" th:href="@{/css/app.css}" />

	<!-- Autocomplete style -->
	<link rel="stylesheet" href="../static/css/easy-autocomplete.min.css" type='text/css' th:href="@{/css/easy-autocomplete.min.css}" />

	<!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

	<!-- js link -->
	<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>

	<script type="text/javascript" src="../static/js/app.js" th:src="@{/js/app.js}"></script>

	<!--<script type="text/javascript" src="../static/js/app.js" th:src="@{/js/app.js}"></script> -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="../static/js/jquery.easy-autocomplete.min.js" th:src="@{/js/jquery.easy-autocomplete.min.js}"></script>


</head>

<body style="background-color:#fff;">
	<!-- app header -->
	<div class="header">
		<div class="wrapper">
			<div class="logo">
				<a href="/"><img src="../static/images/logo.png" alt="" th:src="@{/images/logo.png}" /></a>
			</div>
			<div class="nav">
				<p><a href="/" data-hover="Home">Home</a></p>
				<p><a href="/blogs/" data-hover="Blog">Blog</a></p>
        		<p><a href="/news/" data-hover="News">News</a></p>
			</div>
			<!-- <div class="action">
        <div class="trans-btn">
          something something
        </div>
      </div> -->
		</div>
	</div>
	<!-- find-container -->
	<div class="find-container">
		<div class="flex">
			<div class="search-container">
				<div class="search">
					<form class="" action="" method="post" id="winePageSearch">
						<div class="flex">
							<input type="text" placeholder="Wine name" name="wineName" id="querySearch" th:value="${query}" />
							<input type="hidden" value="0" id="currentPageCount" />
							<select class="selectOptions" name="vintage" id="vintageSearch">
								<th:block th:each="current, iter : ${vintage}">
								<option th:value="${current.key != 'All' ? current.key : '' }" th:text="${current.key}"></option>
							</th:block>
							</select>
							<button type="submit" name="submit" value="Submit">Submit</button>
						</div>
						<div class="flex">
							<p>Merchant Location:</p>
							<div class="select">
								<select class="selectOptions" id="continentSearch" name="continent">
									<th:block th:each="agg, iter : ${aggs}">
											<option th:value="${agg.key != 'Worldwide' ? agg.key : ''}" th:text="${agg.key}"></option>
									</th:block>
                </select>
							</div>
						</div>
					</form>
				</div>
				<div class="displayname">
					<p id="queryText" th:text="${query}"></p>
				</div>
			</div>
			<!-- <div class="add-container"></div> -->
		</div>
		<div class="flex">
			<!-- <div class="filter-box"></div> -->
			<div class="result-info-box">
				<div id="replaceableContent">
					<th:block th:if="${#lists.size(wines) == 0}">
			        	<p th:text="'No results for ' + ${query}"></p>
			        </th:block>					
			        <th:block th:if="${#lists.size(wines) != 0}">
						<!-- vintage -->								        
						<table class="">
							<tbody>
								<tr>
									<th th:if="${wines[0].vintage} != null"><strong>Vintage</strong></th>
									<th th:if="${wines[0].country} != null"><strong>Country</strong></th>
									<th th:if="${wines[0].region} != null"><strong>Region</strong></th>
									<th th:if="${wines[0].sub_region} != null"><strong>Sub region</strong></th>
								</tr>
								<tr>
									<td th:if="${wines[0].vintage} != null" th:text="${wines[0].vintage}"></td>
									<td th:if="${wines[0].country} != null" th:text="${wines[0].country}"></td>
									<td th:if="${wines[0].region} != null" th:text="${wines[0].region}"></td>
									<td th:if="${wines[0].sub_region} != null" th:text="${wines[0].sub_region}"></td>
								</tr>
							</tbody>
						</table>
						<!-- continent -->
						<table class="table table-striped table-bordered wine-table">
							<thead>
								<tr>
									<th class="col-md-3">Title</th>
									<th class="col-md-3">Store Name</th>
									<th class="col-md-2 sortWine" th:attr="sortBy=${'vintage'},sortOrder=${sortOrder},continent=${continent},query=${query},vintage=${reqVintage},pageNumber=${currentPage}">
										<a href="#">
											<th:block th:if="${sortBy == 'vintage' and sortOrder == 'asc'}">
												<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
											</th:block>
											<th:block th:if="${sortBy == 'vintage' and sortOrder == 'desc'}">
												<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
											</th:block>
											Vintage
										</a>
									</th>
									<th class="col-md-2 sortWine" th:attr="sortBy=${'bottleSize'},sortOrder=${sortOrder},continent=${continent},query=${query},vintage=${reqVintage},pageNumber=${currentPage}">
										<a href="#">
											<th:block th:if="${sortBy == 'bottleSize' and sortOrder == 'asc'}">
												<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
											</th:block>
											<th:block th:if="${sortBy == 'bottleSize' and sortOrder == 'desc'}">
												<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
											</th:block>
											Bottle Size
										</a>
									</th>
									<th class="col-md-2 sortWine" th:attr="sortBy=${'price'},sortOrder=${sortOrder},continent=${continent},query=${query},vintage=${reqVintage},pageNumber=${currentPage}">
										<a href="#">
											<th:block th:if="${sortBy == 'price' and sortOrder == 'asc'}">
												<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
											</th:block>
											<th:block th:if="${sortBy == 'price' and sortOrder == 'desc'}">
												<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
											</th:block>
											Price
										</a>
									</th>
									<th class="col-md-1">Link</th>
								</tr>
							</thead>
							<tbody th:each="wine : ${wines}">
								<tr>
									<td><a href="#" th:href="${wine.URL}" th:text="${wine.title}" class="clickWine" target="_blank"></a></td>
									<td><a href="#" th:href="${wine.store.storeURL}" th:text="${wine.store.name}" target="_blank"></a></td>
									<td th:text="${wine.vintage}"></td>
									<td th:text="${wine.bottleSize}"></td>
									<td th:text="${wine.price}"></td>
									<td><a href="#" th:href="${wine.URL}" th:text="Link" class="clickWine" target="_blank"></a></td>
								</tr>
							</tbody>
						</table>								
						<!-- pagination -->
						<ul id="nav-tab">
							<li th:if="${currentPage >= 10}">
								<a class="pageLink" href="#" th:attr="sortBy=${sortBy},sortOrder=${sortOrder},pagenumber=${firstPageNav-10 > 1 ? firstPageNav - 10 : 0},query=${query},vintage=${reqVintage}">Previous</a>
							</li>
							<th:block th:each="i : ${#numbers.sequence( firstPageNav, lastPageNav)}">
								<li th:attr="class=${(i - 1) == currentPage } ? 'active' : ''">
									<a href="#" th:attr="data-val=${i - 1},sortBy=${sortBy},sortOrder=${sortOrder},pagenumber=${i},query=${query},vintage=${reqVintage}" class="pageLink" th:text="${i}"></a>
								</li>
							</th:block>
							<li th:if="${currentPage / 10 != totalPages / 10  }">
								<a class="pageLink" href="#" th:attr="sortBy=${sortBy},sortOrder=${sortOrder},pagenumber=${lastPageNav+1},query=${query},vintage=${reqVintage}">Next</a>
							</li>
						</ul>					
					</th:block>
				</div>
			</div>
		</div>
	</div>
	<form id="wineForm" method="post" action="/wine/">
		<input type="hidden" name="query" id="query" th:value="${query}" />
		<input type="hidden" name="continent" id="continent" />
		<input type="hidden" name="vintage" id="vintage" />
		<input type="hidden" name="pageNumber" id="pageNumber" />
		<input type="hidden" name="sortBy" id="sortBy" />
		<input type="hidden" name="sortOrder" id="sortOrder" />
		<input type="submit" class="hidden" />
	</form>
	<script type="text/javascript">
			$(document).ready(function() {
				$('.wineSearch').click(function() {
					query = $(this).attr('query');
					continent = $(this).attr('continent');
					vintage = $(this).attr('vintage');
					if(continent == 'Worldwide')
						continent = '';
					$('#continent').val(continent);
					$('#vintage').val(vintage);
					$('#wineForm').submit();
				});
				$('.wineVintage').click(function() {
					query = $(this).attr('query');
					vintage = $(this).attr('vintage');
					if(vintage == 'All')
						vintage = '';
					$('#vintage').val(vintage);
					$('#wineForm').submit();
				});
				$('.pageLink').click(function() {
					query = $(this).attr('query');
					vintage = $(this).attr('vintage');
					pageNumber = $(this).attr('pagenumber')-1;
					if(vintage == 'All')
						vintage = '';
					$('#vintage').val(vintage);
					$('#pageNumber').val(pageNumber);
					$('#wineForm').submit();
				});
				$('.sortWine').click(function() {
					query = $(this).attr('query');
					vintage = $(this).attr('vintage');
					pageNumber = $(this).attr('pagenumber');
					continent = $(this).attr('continent');
					sortBy = $(this).attr('sortby');
					sortOrder = $(this).attr('sortorder');
					sortOrder = sortOrder == 'asc' ? 'desc' : 'asc';
					if(vintage == 'All')
						vintage = '';
					$('#vintage').val(vintage);
					$('#pageNumber').val(pageNumber);
					$('#sortBy').val(sortBy);
					$('#sortOrder').val(sortOrder);
					$('#wineForm').submit();
				});
			});
		</script>
</body>
</html>