body {
  margin: 0;
  background-color: #efefef; }
  body .flex {
    display: flex; }

.header {
  background-color: #444;
  height: 72px; }
  .header .wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-width: 970px;
    max-width: 1200px;
    display: flex; }
    .header .wrapper div {
      display: flex;
      color: #fff; }
    .header .wrapper .logo {
      width: 25%;
      justify-content: flex-start; }
      .header .wrapper .logo img {
        margin: auto 0; }
    .header .wrapper .nav {
      width: 50%;
      justify-content: center; }
      .header .wrapper .nav p {
        margin: auto; }
    .header .wrapper .action {
      width: 25%;
      justify-content: flex-end; }
      .header .wrapper .action .trans-btn {
        border: 1px solid #fff;
        padding: 5px;
        border-radius: 4px;
        margin: auto 0; }

.hero {
  flex-direction: column;
  width: 100%;
  height: 340px;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  margin-bottom: 30px; }
  .hero .tagline {
    padding: 80px 0; }
  .hero div {
    display: flex; }
    .hero div p {
      font-size: 36px;
      margin: auto;
      color: #fff;
      font-weight: bold; }
    .hero div form {
      margin: 0 50px !important;
      width: 100%;
      margin: auto; }
      .hero div form input {
        font-size: 18px;
        padding-left: 30px;
        border: 0;
        border-radius: 5px;
        width: 100%;
        height: 60px; }

.section-container .section-1 {
  min-width: 970px;
  max-width: 1200px;
  margin: 0 auto; }
  .section-container .section-1 .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    .section-container .section-1 .container .box {
      background-color: #fff;
      box-shadow: 0 1px 3px 0 rgba(167, 167, 167, 0.5);
      width: 30%; }
      .section-container .section-1 .container .box .image {
        background-image: url("../images/section-bg.jpg");
        width: 100%;
        min-height: 145px; }
      .section-container .section-1 .container .box .text-1 {
        border-bottom: 1px solid #e5e5e5;
        min-height: 70px; }
      .section-container .section-1 .container .box .text-1,
      .section-container .section-1 .container .box .text-2 {
        padding: 10px; }
        .section-container .section-1 .container .box .text-1 p,
        .section-container .section-1 .container .box .text-2 p {
          margin: 0; }
    .section-container .section-1 .container .card {
      box-shadow: 0 1px 3px 0 rgba(167, 167, 167, 0.5);
      background-color: #fff;
      display: flex;
      width: 30%; }
      .section-container .section-1 .container .card .image {
        width: 40%;
        height: 120px;
        background-size: cover;
        background-image: url("../images/section-bg.jpg"); }
      .section-container .section-1 .container .card .text-1 p {
        margin: 15px; }
.section-container .sec-wrapper {
  background-color: #fff; }
.section-container .section-2 {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 970px;
  max-width: 1200px;
  margin: 0 auto; }
  .section-container .section-2 .box {
    width: 30%;
    margin: auto; }
.section-container .section-3 {
  color: #fff;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-image: url("../images/gopro.jpg");
  display: flex;
  justify-content: center; }
  .section-container .section-3 div {
    margin: auto; }

.footer .logo-footer {
  background-color: #333;
  display: flex;
  height: 60px; }
  .footer .logo-footer p {
    color: #fff;
    margin: auto; }
.footer .main {
  background-color: #444; }
  .footer .main .wrapper {
    display: flex;
    justify-content: space-between;
    width: 880px;
    margin: auto;
    padding: 70px 0; }
    .footer .main .wrapper .border {
      border-right: 1px solid #fefefe; }
    .footer .main .wrapper div {
      color: #fff;
      width: 33.33%;
      display: flex; }
      .footer .main .wrapper div ul {
        margin: auto;
        list-style: none;
        padding: 0; }
        .footer .main .wrapper div ul a {
          color: #fff;
          text-decoration: none; }
.footer .sub {
  height: 96px;
  background-color: #333; }

.find-container {
  max-width: 1200px;
  min-width: 970px;
  margin: 20px auto;
  padding: 0 20px; }
  .find-container .search-container {
    width: 720px; }
    .find-container .search-container .search {
      color: #fff;
      width: 100%;
      min-height: 120px;
      background-image: url("../images/search-box-bg.jpg");
      background-size: cover;
      border-radius: 5px;
      padding: 20px 0; }
      .find-container .search-container .search form {
        margin: 0 15px; }
        .find-container .search-container .search form p {
          margin: 15px 0;
          font-size: 18px; }
        .find-container .search-container .search form input[type="text"] {
          height: 30px;
          border: 1px solid #000;
          border-radius: 5px; }
        .find-container .search-container .search form input[name="wineName"] {
          padding: 0 20px;
          font-size: 16px;
          width: 450px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px; }
        .find-container .search-container .search form input[name="vintage"] {
          padding: 0 0 0 20px;
          font-size: 16px;
          width: 90px;
          border-left: 0px;
          border-radius: 0px;
          border-right: 0px; }
        .find-container .search-container .search form button[name="submit"] {
          width: 75px;
          color: #fff;
          border: 0px;
          background-color: #0076d6;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px; }
        .find-container .search-container .search form .select {
          margin: 10px 40px; }
          .find-container .search-container .search form .select select {
            width: 200px;
            height: 30px;
            background-color: #fff;
            border: 1px solid #000;
            border-radius: 5px; }
    .find-container .search-container .displayname {
      border-radius: 5px;
      margin: 15px 0;
      width: 100%;
      padding: 15px 0;
      background-color: #74854d; }
      .find-container .search-container .displayname p {
        margin: 0 15px;
        color: #fff;
        font-size: 21px;
        font-weight: bold; }
  .find-container .add-container {
    width: 40%; }
  .find-container .filter-box {
    border: 1px solid #000;
    height: 1000px;
    width: 250px;
    background-color: #efefef; }
  .find-container .result-info-box {
    border: 1px solid #000;
    width: 940px;
    margin-left: 10px;
    background-color: #efefef; }

.about-blog {
  padding: 10px; }
  .about-blog .blog-img {
    width: 150px;
    height: 100px;
    background-size: cover; }

/*# sourceMappingURL=app.css.map */
