$header-color: #444;

body {
  margin: 0;
  background-color: #efefef;
  .flex{
    display: flex;
  }
}
// header css

.header {
  background-color: $header-color;
  height: 72px;

  .wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-width: 970px;
    max-width: 1200px;
    display: flex;

    div {
      display: flex;
      color: #fff;
    }

    .logo {
      width: 25%;
      justify-content: flex-start;

      img {
        margin: auto 0;
      }
    }

    .nav {
      width: 50%;
      justify-content: center;

      p {
        margin: auto;
      }
    }

    .action {
      width: 25%;
      justify-content: flex-end;

      .trans-btn {
        border: 1px solid #fff;
        padding: 5px;
        border-radius: 4px;
        margin: auto 0;
      }
    }
  }
}
// hero css

.hero {
  flex-direction: column;
  width: 100%;
  height: 340px;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  margin-bottom: 30px;

  .tagline {
    padding: 80px 0;
  }

  div {
    display: flex;

    p {
      font-size: 36px;
      margin: auto;
      color: #fff;
      font-weight: bold;
    }

    .search-box {}

    form {
      margin: 0 50px !important;
      width: 100%;
      margin: auto;

      input {
        font-size: 18px;
        padding-left: 30px;
        border: 0;
        border-radius: 5px;
        width: 100%;
        height: 60px;
      }
    }
  }
}
// section css

.section-container {
  .section-1 {
    min-width: 970px;
    max-width: 1200px;
    margin: 0 auto;
    .container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      .box {
        background-color: #fff;
        box-shadow: 0 1px 3px 0 rgba(167,167,167,0.5);
        width: 30%;

        .image {
          background-image: url('../images/section-bg.jpg');
          width: 100%;
          min-height: 145px;
        }

        .text-1 {
          border-bottom: 1px solid #e5e5e5;
          min-height: 70px;
        }

        .text-1,
        .text-2 {
          padding: 10px;

          p {
            margin: 0;
          }
        }
      }

      .card {
        box-shadow: 0 1px 3px 0 rgba(167,167,167,0.5);
        background-color: #fff;
        display: flex;
        width: 30%;

        .image {
          width: 40%;
          height: 120px;
          background-size: cover;
          background-image: url('../images/section-bg.jpg');
        }

        .text-1 {
          p {
            margin: 15px;
          }
        }
      }
    }
  }
  .sec-wrapper{
    background-color: #fff;
  }
  .section-2 {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    min-width: 970px;
    max-width: 1200px;
    margin: 0 auto;
    .box {
      width: 30%;
      margin: auto;
    }
  }

  .section-3 {
    color: #fff;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-image: url("../images/gopro.jpg");
    display: flex;
    justify-content: center;

    div {
      margin: auto;
    }
  }
}

.footer {
  .logo-footer{
    background-color: #333;
    display: flex;
    height: 60px;
    p{
      color: #fff;
      margin: auto;
    }
  }
  .main{
    background-color: #444;
    .wrapper{
      display: flex;
      justify-content: space-between;
      width: 880px;
      margin: auto;
      padding: 70px 0;
      .border{
        border-right: 1px solid #fefefe;
      }
      div{
        color: #fff;
        width: 33.33%;
        display: flex;
        ul{
          margin: auto;
          list-style: none;
          padding: 0;
          a{
            color:#fff;
            text-decoration: none;
          }
        }
      }
    }
  }
  .sub{
    height: 96px;
    background-color: #333;
  }
}

// find page css
.find-container{
  max-width: 1200px;
  min-width: 970px;
  margin: 20px auto;
  padding: 0 20px;
  .search-container{
    width: 720px;
    .search{
      color: #fff;
      width: 100%;
      min-height: 120px;
      background-image: url('../images/search-box-bg.jpg');
      background-size: cover;
      border-radius: 5px;
      padding: 20px 0;
      form{
        p{
          margin: 15px 0;
          font-size: 18px;
        }
        margin: 0 15px;
        input[type="text"]{
          height: 30px;
          border: 1px solid #000;
          border-radius: 5px;
        }
        input[name="wineName"]{
          padding: 0 20px;
          font-size: 16px;
          width: 450px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        input[name="vintage"]{
          padding: 0 0 0 20px;
          font-size: 16px;
          width: 90px;
          border-left: 0px;
          border-radius: 0px;
          border-right: 0px;
        }
        button[name="submit"]{
          width: 75px;
          color: #fff;
          border: 0px;
          background-color: #0076d6;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        .select{
          margin: 10px 40px;
          select{
            width: 200px;
            height: 30px;
            background-color: #fff;
            border: 1px solid #000;
            border-radius: 5px;
          }
        }
      }
    }
    .displayname{
      border-radius: 5px;
      margin: 15px 0;
      width: 100%;
      padding: 15px 0;
      background-color: #74854d;
      p{
        margin: 0 15px;
        color: #fff;
        font-size: 21px;
        font-weight: bold;
      }
    }
  }
  .add-container{
    width: 40%;
  }
  .filter-box{
    border: 1px solid #000;
    height: 1000px;
    width: 250px;
    background-color: #efefef;
  }
  .result-info-box{
    border: 1px solid #000;
    width: 940px;
    margin-left: 10px;
    background-color: #efefef;
  }
}

.about-blog{
  padding: 10px;
  .blog-img{
    width: 150px;
    height: 100px;
    background-size: cover;
  }
}
